<template>
	<div class="panel" id="forms-section">
		<div class="panel-inner p-b-0">

			<div class="page-header row no-gutters py-4">
				<div class="col-12 col-sm-4 text-left text-sm-left mb-0">
					<span class="text-uppercase page-subtitle">Overview</span>
					<h3 class="page-title">Add Service Provider</h3>
				</div>
			</div>

			<div class="colum-btm-space card">

				<div class="card-body">
					<div class="section-blocks">
						<!-- full width form -->
						<d-form @submit.prevent="validateBeforeSubmit" novalidate="">

							<div class="row">
								<div class="col-xs-12 col-md-3">
									<div class="form-group">
										<label class="" for="f2_Email">Name</label>
										<d-input id="name" class="mb-2 mr-sm-2 mb-sm-0" v-model="formData.name" placeholder="Enter name" required />
									</div>

									<div class="form-group">
										<label class="" for="f2_Email">Description</label>
										<textarea id="name" class="form-control mb-2 mr-sm-2 mb-sm-0" v-model="formData.description" placeholder="Enter name" required ></textarea>
									</div>

									<div class="form-group">
										<label class="" for="f2_Email">Open time</label>
										<d-input id="name" class="mb-2 mr-sm-2 mb-sm-0" v-model="formData.open_time" placeholder="Enter name" required />
									</div>

									
								</div>
								<div class="col-xs-12 col-md-3">


									<div class="form-group">
										<label class="" for="f2_Email">Contact details:</label>
										<d-input id="name" class="mb-2 mr-sm-2 mb-sm-0" v-model="formData.contact_details.phone_number" placeholder="Enter name" required />
									</div>

									<div class="form-group">
										<label class="" for="f2_Email">Address</label>
										<textarea id="name" class="form-control mb-2 mr-sm-2 mb-sm-0" v-model="formData.address" placeholder="Enter name" required ></textarea>
									</div>




									<div class="form-group">
										<label class="" for="f2_Email">Close time</label>
										<d-input id="name" class="mb-2 mr-sm-2 mb-sm-0" v-model="formData.close_time" placeholder="Enter name" required />
									</div>

								</div>
								<div class="col-xs-12 col-md-3">

									<file-upload :uploadKey="'featured_profile'" @get-response="getImageResponse($event, 'featured_profile')"></file-upload>	

									<d-img fluid thumbnail :src="formData.featured_profile" />
								</div>
								<div class="col-xs-12 col-md-3">
									
								</div>
							</div>

							<div class="row">
								
								<div class="col-xs-12 col-md-3">
									
								</div>

								<div class="col-xs-12 col-md-3">


								</div>

								<div class="col-xs-12 col-md-3">

									
								</div>

								<div class="col-xs-12 col-md-3">

								</div>
							</div>


							<div class="col-xs-12 col-md-12 clearfix"></div>
							<div class="col-xs-12 col-md-12 clearfix"></div>
							<div class="col-xs-12 col-md-12 clearfix"></div>

							<d-button :class="[loading ? 'show-spinner' : '']" type="submit">
								Create

								<button-loader></button-loader>
							</d-button>

						</d-form>


						<div class="margin-top-10 transparent-alert">

							<d-alert v-if="errorMessage || successMessage" :theme="popupThemeValue" show>
								{{ errorMessage ? errorMessage : successMessage }}
							</d-alert> 

						</div>

					</div>
				</div>
			</div>

		</div>

		<common-methods 
		:url="'api/categories'"
		@get-response="getResponse"
		@form-submitted="formSubmitted"
		@form-error="formError"

		:submitType="'post'"
		:submitUrl="submitUrl"
		:formData="formData"
		:submit="submit"></common-methods>


	</div>
</template>
<script>
	export default {
		data () {

			return {
				errorMessage: '',
				successMessage: '',
				submit : false,
				loading : false,
				formData: {
					name : '',
					open_time: '',
					close_time: '',
					description: '',
					featured_profile : '',
					contact_details : {
						phone_number : ''
					}
				},
				categoryOptions : []
			}
		},
		mounted (){
		},
		computed : {
			popupThemeValue() {
				if (this.errorMessage) {
					return 'danger';
				}
				if (this.successMessage) {
					return 'success';
				}
			},
			submitUrl(){
				return 'api/service_providers/create';
				
			}

		},
		methods: {
			getResponse(response){},
			clearFormValues(){
				this.formData = {
					name_en: '',
					name_fr: '',
					name_ar: '',
					asset_url_en: '',
					asset_url_fr: '',
					asset_url_ar: '',
					upload_url : {
						'en' : 'https://via.placeholder.com/250',
						'fr' : 'https://via.placeholder.com/250',
						'ar' : 'https://via.placeholder.com/250'
					}
				}
			},
			formSubmitted(response){
				this.submit = false;
				this.clearFormValues();
				this.successMessage = 'Category added successfully.';
				this.loading = false;
				let self = this;
				setTimeout(function(){
					self.successMessage = '';
				}, 2000);

			},
			formError(error){
				let self = this;
				this.submit = false;
				self.loading = false;

				let errors = error.response.data.errors;

				_.forEach(errors, function(value, key) {
					self.errorMessage =  errors[key][0];
					return false;
				});
				
				setTimeout(function(){
					self.errorMessage = '';
				}, 2000);


			},
			validateBeforeSubmit() {
				this.$validator.validateAll().then((result) => {
					if (result) {
						this.loading = true;
						this.submit = true;
						this.errorMessage = ''
						return;
					}
					this.errorMessage = this.errorBag.all()[0];
				});
			},

			getImageResponse(response , value){
				this.formData.featured_profile = response.upload_url;
			},
			handleOnSubmit (e) {
				e.preventDefault();
				alert(JSON.stringify(this.form));
			},

			handleClick() {
				this.isShowing = true
			},
			validationClick(){
				this.isShowing = true
			},
		}
	}
</script>