<template>

  <div class="panel" id="tables-section">
    <div class="panel-inner p-b-0">
      <div class="main-content-container">

        <div class="row">
          <div class="col">
            <div class="card card-small mb-4">
              <div class="card-header border-bottom">
                <h6 class="m-0">Categories</h6>
              </div>
              <div class="card-body p-0 pb-3">
                <table class="table mb-0">
                  <thead class="bg-light">
                    <tr>
                      <th scope="col" class="border-0" >Image en</th>
                      <th scope="col" class="border-0" >Image fr</th>
                      <th scope="col" class="border-0" >Image ar</th>
                      <th scope="col" class="border-0">Name en</th>
                      <th scope="col" class="border-0">Name fr</th>
                      <th scope="col" class="border-0">Name ar</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="item in items">
                      <td><div class="profile-pic"><d-card-img :src="item.asset_url_en"/></div></td>
                      <td><div class="profile-pic"><d-card-img :src="item.asset_url_fr"/></div></td>
                      <td><div class="profile-pic"><d-card-img :src="item.asset_url_ar"/></div></td>
                      <td>{{item.name_en}}</td>
                      <td>{{item.name_fr}}</td>
                      <td>{{item.name_ar}}</td>
                    </tr>
                  </tbody>

                </table>
                <spinner-loader v-if="loading"></spinner-loader>
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>
    

    <common-methods 

    @get-response="getResponse"

    :url="requestUrl"
    >
  </common-methods>
  


</div>
</template>

<script>
  export default{
    data(){
      return{
        url : 'api/categories',
        submit : false,
        loading : false,
        items : []
      }
    },
    mounted (){

    },
    methods : {
      getResponse(response){
        if(Object.keys(response.data).length){
          for(var i = 0 ; i < response.data.categories.length; i++){
            this.loading = false;
            this.items.push(response.data.categories[i]);
          }
        }
      }
    },
    computed : {
      requestUrl(){
        this.loading = true;
        return this.url;
      }
    },
    watch : {
      $route(to, from){
        var newDate = new Date();
        this.url = 'api/categories?pagination=true&time='+newDate;

      }
    }
  }
</script>