.discussion-panel{
    width: $discussion-panel-width;
    height:$discussion-panel-height;
    border-top: none;
    position: fixed;
    background-color: $discussion-panel-bg;
    z-index: 99;
    right: 0;
    margin-top: 1px;
    bottom:0px;
    border: 1px solid $grey-lite;
    border-radius: 12px 12px 0 0;
    box-shadow: 0 0px 4px 0 rgba(0,0,0,0.2);
    overflow:hidden;

    @include mobile {
        border-radius: 0px;
    }


    @include mobileS{
        width: 100%;
        top: 0;
        height: 100%;
        z-index: 999;
    }

    h5{
        font-family: $font_bold;
        color: $text-primary-color;
        font-size: $font-size-sm;
        margin-bottom: 8px;

        span{
            color: $grey-dark;
            font-family: $font_regular;
            font-size: $font-size-xs;
            margin-left: 16px;
        }
    }
    .list-group-item{
        &:hover, &:focus{
            z-index: 0;
        }
    }
    h6{
        color: $grey-dark;
        font-size: $font-size-xs;
        text-align: center;
        font-family: $font_bold;
        position: relative;
        text-transform: uppercase;
        background-color: $white;
        z-index: 999;

        &:after, &:before{
            position: absolute;
            content: "";
            background-color: $grey-medium;
            width: 40%;
            height: 1px;
            right: 0;
            top: 6px;
        }

       &:before{
            left: 0;
        }
    }

    .today-message{
        .time-date{
            i{
                font-style: normal;
                display: none;
            }
        }
    }

   .time-date{
        i{
            font-style: normal;
        }
    }

    .panel-heading{
        border-bottom: 1px $border-color solid;
        padding: $sidebar-padding;
        margin-bottom:0px;
        position:relative;
        background:$grey-Elite;
        height: 76px;

        h3{
            font-family: $font_bold;
            color: $text-primary-color;
            font-size: $font-size-md;
            margin: 0;
            display:inline-block;
        }
        .close-icon{
            position: absolute;
            top: 14px;
            right: 24px;
            font-size: 20px;
            color:$grey-dark;
            cursor: pointer;
        }
    }

    .discussion-content{
        padding: $sidebar-padding;
        position: absolute;
        height: calc(100% - 121px);
        overflow-y: auto;
        padding:20px 0 20px 27px;

        .list-group{
             /* position: absolute;
             bottom: 0; */

             .list-group-item{
                padding: 7px 0 32px 0;
                border:none;

                &:after{
                    display: none;
                }
             }
        }
        &.scrollbar{
            max-height: 100%;
            height: calc(100% - 140px);
            position: relative;
            right: 8px;
        }
    }
    .section-separator{
        margin: 10px 0 40px 0;
        text-align:center;
        span{
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            padding: 4px 0;
            background-color: #fff;
            text-transform: uppercase;
            display: inline-block;
            width: 100px;
            top: -13px;
            font-family:$font-bold;
            color:$grey-dark;
        }
    }
    .panel-footer{
        position:absolute;
        width:100%;
        height:80px;
        background-color:#fff;
        bottom:0;
        left:0;
        border-top:solid 1px $grey-lite;
        padding:20px 20px 20px 5px;
        textarea{
            background: none;
            border: none;
            background: none;
            border: none;
            resize:none;
            height: 54px !important;
            padding-right: 42px;
        }
        .icon-circle{
            position: absolute;
            right: 34px;
            top: 17px;
            text-align:center;
            cursor:pointer;
            height: 40px;
            background-color: transparent;
            i{
                position: relative;
                top: 11px;
                font-size: 24px;
                color:$primary-color;
            }
        }
    }
}

.profile-message{
    width: calc(100% - 70px);
    display: inline-block;
    float: none;
    vertical-align: top;
    background-color: rgba(221,198,244,0.2);
    border-radius: 6px;
    padding: 10px;

    p{
        font-size:$discussion-chat-size;
        font-family: $font_regular;
        color: $text-primary-color;
        margin-bottom: 0;
        line-height: 19px;
    }
}

.chat-profile-pic
{
    display: inline-block;
    width: 47px;
    height: 47px;
    border-radius: 8px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    vertical-align: middle;
    margin-right: 12px;
}


.chat-head-heading{
    display:inline-block;
    font-family:$font-medium;
    vertical-align: middle;
    width: calc(100% - 100px);
    margin: 0;
    padding: 0;
    span{
        display:block;
        font-size:14.5px;
        position:relative;
        font-family:$font-regular;
        padding-left: 15px;
        &:before{
            content: '';
            position: absolute;
            width: 7px;
            height: 7px;
            border-radius: 100%;
            left: 0;
            top: 7px;
        }

        &.online{
            color:$success-bg;
            &:before{
                background:$success-bg;
            }
        }

        &.offline{
            color:$grey-lite;
            &:before{
                background:$grey-lite;
            }
        }
    }
}

.chat-last-seen
{
    position: absolute;
    right: 11px;
    bottom: 6px;
    font-size: 13px;
    color:$grey-dark;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}