.colum-btm-space
{
margin-bottom:32px;
}
.page-header{
padding-top: 0 !important;
}

.max-login-wth{
max-width: 510px;
margin: 0;
a.back-to-login {
margin-left: 13px;
display: inline-block;
margin-top: 5px;
}    
}
