.main-navbar{
    width:100%;
    height:60px;
    border-bottom: solid 1px $greyM;
    background-color:#fff;
    position: relative;
    background:#fff;
    .main-navbar-inner{
        position:fixed;
        right:0;
        height:60px;
        width:calc(100% - 300px);
        background:#fff;
         border-bottom: solid 1px $greyM;
    }
    .search-top-field{
        width:calc(100% - 260px);
        float:left;
        input{
            height: 59px;
            padding-left: 5px !important;
            font-size: $font-size-sm !important;
        }
    }
    .top-right-options{
        width: 250px;
        float: right;
        .dropdown{
            .user-avatar{
                display:inline-block;
                width: 38px;
                height: 38px;
                background: #d9d9d9;
                overflow: hidden;
                border-radius: 100% !important;
            }
            span{
               vertical-align: middle;
            }
            .dropdown-toggle::after{
                top: 4px;
                position: relative;
            }
        }
    }
}

.pills-navigation{
    .nav-pills{
         .nav-link{
            &:focus{
                color: #3191dd !important;
                outline: none;
            }
         }
    }
}