// tabs
.nav-tabs{
    outline: none;
    li{
        a{
            padding: 10px 15px;
        }
    }
}

// .tab-content{
//     border: 1px #ddd solid;
//     border-top: none;
// }

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}

.nav-pills{
    outline: none;
    .nav-link {
        &:focus{
            color: #fff!important;
        }

        &.active{
            &:hover{
                color: #fff!important;
            }
        }
    }
}

.col-auto{
    width: 250px;
}