<template>
	

	<div class="main-panel">
		
		<div class="panel" id="login">
			<div class="panel-inner p-b-0">
				<div class="page-header row no-gutters py-4">
					<div class="col-12 col-sm-4 text-left text-sm-left mb-0">
						<span class="text-uppercase page-subtitle">Overview</span>
						<h3 class="page-title">Login</h3>
					</div>
				</div>        	
				<div class="colum-btm-space card">
					<div class="card-body">
						<div class="inner max-login-wth">
							<div class="text-center">
								<h2 class="auth-title">{{formval}}	            
								</h2>
							</div>
							<div class="auth-panel">
								<!--login-->
								<div @submit.prevent="validateBeforeSubmit" novalidate="" class="login-form auth-forms active" v-show="screenshow == false">
									<form>
										<div class="row">
											<div class="col-xs-12 col-md-12">
												<div class="form-group">
													<label>Email Address</label>
													<input v-validate="'required'" v-model="formData.email" type="email" name="email" class="form-control" placeholder="Enter your email address">
												</div>
											</div>
											<div class="col-xs-12 col-md-12">
												<div class="form-group">
													<label>Password</label>
													<input v-validate="'required'" v-model="formData.password" type="password" name="password" class="form-control" placeholder="Enter your account password">
												</div>
											</div>
											<div class="col-xs-12 col-md-12">
												<div class="form-group">
													<a href="javascript:void();" @click="forgot_screen()">
														<span class="forgot-password-text">Forgot Password?</span>
													</a>
												</div>
											</div>
											<div class="col-xs-12 col-md-12">
				            <!-- <button type="button" class="btn btn-primary " @click="onSubmit">
				              <span>Log In</span>
				              
				          </button> -->
				          <d-button :class="[loading ? 'show-spinner' : '']" type="submit">
				          	Log In

				          	<button-loader></button-loader>
				          </d-button>
				      </div>
				  </div>
				</form>
			</div>


			<!--forgot-->
			<div class="forgot-form auth-forms" v-show="screenshow == true">
				<form>
					<div class="form-group">
						<label>Email Address</label>
						<input type="email" name="email" class="form-control" placeholder="Enter your email address">
					</div>				      				      
					<d-button type="submit">Send</d-button>
					<a class="back-to-login" href="javascript:void(0);" @click="mainscreen">
						<span>Back to login</span>
					</a>
				</form>
			</div>

			<div class="margin-top-10 transparent-alert">

				<d-alert v-if="errorMessage || successMessage" :theme="popupThemeValue" show>
					{{ errorMessage ? errorMessage : successMessage }}
				</d-alert> 

			</div>

		</div>
	</div>
</div>
</div>
</div>


</div>
</div>

</template>

<script>
	export default {
		data () {
			return {
				formval: 'Welcome to Vue Framework',
				screenshow: false,
				formData:{
					email: '',
				},
				errorMessage: '',
				successMessage: '',
				loading : false,
				showAlert: false,
				form: {
					email: '',
					password: '',
				},
				loading: false,
			}
		},
		mounted() {
			this.$auth.options.loginUrl = '/api/login'
		},
		computed: {
			submitUrl() {
				return this.requestUrl;
			},
			popupThemeValue() {
				if (this.errorMessage) {
					return 'danger';
				}
				if (this.successMessage) {
					return 'success';
				}
			}
		},
		methods: {
			forgot_screen(){
				this.screenshow = true;
			},
			mainscreen(){
				this.screenshow = false;
			},         

			redirectToDashboard() {
				this.$router.push({ name: 'admin.dashboard' });
			},

			validateBeforeSubmit() {
				this.$validator.validateAll().then((result) => {
					if (result) {
						this.login()
						this.errorMessage = ''
						return;
					}
					this.errorMessage = this.errorBag.all()[0];                             
					setTimeout(function(){
						this.errorMessage='';
						this.loading = false
					}, 5000);
				});
			},

			login: function () {
				var this_ = this;
				let self=this;
				this.successMessage = ""
				this.loading = true
				this.$auth.login(this.formData).then(function (response) {
					this_.$store.commit('setAuthUser', response.data.user);
					this_.$router.push({ name: 'admin.category.list' });

					self.loading = false;

				}).catch(error => {
                    //console.log(error);
                    this.loading = false
                    this_.errorMessage  ='Invalid Username or Password';
                    setTimeout(function(){
                    	this_.errorMessage='';
                    	this.loading = false
                    }, 5000);
                });
			},
		},
	}
</script>
