<template>
  <div>
    <aside class="main-sidebar">
      <div class="logo" id="main-logo">
        <img  class="d-inline-block align-top mr-1" src="images/dummy/logo.png" alt="Dashboard">
      </div>
      <div  class="nav-wrapper">
        <ul class="nav flex-column">

          <li v-d-toggle.home-collapse variant="primary" class="nav-item" v-scroll-to="'#dashboard-section'">
            <a class="nav-link" href="index.html">
              <i class="material-icons">bubble_chart</i>
              <span>Home</span>
            </a>
          </li>
          <d-collapse id="home-collapse">
            <li class="nav-item" v-scroll-to="'#dashboard-section'">
              <a class="nav-link" href="index.html">
                <i class="material-icons">bubble_chart</i>
                <span>Dashboard</span>
              </a>
            </li>
          </d-collapse>

          <li v-d-toggle.category-collapse  variant="primary" class="nav-item" v-scroll-to="'#dashboard-section'">
            <a class="nav-link" href="index.html">
              <i class="material-icons">bubble_chart</i>
              <span>Category</span>
            </a>
          </li>
          <d-collapse id="category-collapse">
            <router-link :to="{ name : 'admin.category.list'}" class="nav-item" v-scroll-to="'#dashboard-section'">
              <a class="nav-link" href="index.html">
                <i class="material-icons">bubble_chart</i>
                <span>List</span>
              </a>
            </router-link>
            <router-link :to="{ name : 'admin.category.add'}" class="nav-item" v-scroll-to="'#dashboard-section'">
              <a class="nav-link" href="index.html">
                <i class="material-icons">bubble_chart</i>
                <span>Add</span>
              </a>
            </router-link>
          </d-collapse>

          
          <li v-d-toggle.sub-category-collapse variant="primary" class="nav-item" v-scroll-to="'#dashboard-section'">
            <a class="nav-link" href="index.html">
              <i class="material-icons">bubble_chart</i>
              <span>Sub Category</span>
            </a>
          </li>
          <d-collapse id="sub-category-collapse">
            <router-link :to="{ name : 'admin.sub.category.list'}" class="nav-item" v-scroll-to="'#dashboard-section'">
              <a class="nav-link" href="index.html">
                <i class="material-icons">bubble_chart</i>
                <span>List</span>
              </a>
            </router-link>
            <router-link :to="{ name : 'admin.sub.category.add'}" class="nav-item" v-scroll-to="'#dashboard-section'">
              <a class="nav-link" href="index.html">
                <i class="material-icons">bubble_chart</i>
                <span>Add</span>
              </a>
            </router-link>
          </d-collapse>
          

          <li v-d-toggle.vendor-collapse variant="primary" class="nav-item" v-scroll-to="'#dashboard-section'">
            <a class="nav-link" href="index.html">
              <i class="material-icons">subtitles</i>
              <span>Vendors</span>
            </a>
          </li>
          <d-collapse id="vendor-collapse">
            <router-link :to="{ name : 'admin.vendor.list'}" class="nav-item">
              <a class="nav-link" href="index.html">
                <i class="material-icons">bubble_chart</i>
                <span>Manage Vendors</span>
              </a>
            </router-link>

            <li class="nav-item" v-scroll-to="'#dashboard-section'">
              <a class="nav-link" href="index.html">
                <i class="material-icons">bubble_chart</i>
                <span>Approvals</span>
              </a>
            </li>
            
            <router-link :to="{ name : 'admin.vendor.items'}" class="nav-item">
              <a class="nav-link" href="index.html">
                <i class="material-icons">bubble_chart</i>
                <span>Items</span>
              </a>
            </router-link>
            

            <router-link :to="{ name : 'admin.vendor.sales'}" class="nav-item">
              <a class="nav-link" href="index.html">
                <i class="material-icons">bubble_chart</i>
                <span>Sales</span>
              </a>
            </router-link>
            
            <router-link :to="{ name : 'admin.vendor.ratings'}" class="nav-item">
              <a class="nav-link" href="index.html">
                <i class="material-icons">bubble_chart</i>
                <span>Ratings</span>
              </a>
            </router-link>
            
          </d-collapse>


          <li v-d-toggle.service-collapse variant="primary" class="nav-item" v-scroll-to="'#dashboard-section'">
            <a class="nav-link" href="index.html">
              <i class="material-icons">subtitles</i>
              <span>Service Providers</span>
            </a>
          </li>
          <d-collapse id="service-collapse">
            <router-link :to="{ name : 'admin.service.provider.list'}" class="nav-item">
              <a class="nav-link" href="index.html">
                <i class="material-icons">bubble_chart</i>
                <span>Manage</span>
              </a>
            </router-link>

            <router-link :to="{ name : 'admin.service.provider.add'}" class="nav-item" v-scroll-to="'#dashboard-section'">
              <a class="nav-link" href="index.html">
                <i class="material-icons">bubble_chart</i>
                <span>Add</span>
              </a>
            </router-link>


            <!-- <li class="nav-item" v-scroll-to="'#dashboard-section'">
              <a class="nav-link" href="index.html">
                <i class="material-icons">bubble_chart</i>
                <span>Approvals</span>
              </a>
            </li> -->
            
<!--             <router-link :to="{ name : 'admin.service.provider.items'}" class="nav-item">
              <a class="nav-link" href="index.html">
                <i class="material-icons">bubble_chart</i>
                <span>Items</span>
              </a>
            </router-link> -->
            

            <router-link :to="{ name : 'admin.service.provider.sales'}" class="nav-item">
              <a class="nav-link" href="index.html">
                <i class="material-icons">bubble_chart</i>
                <span>Sales</span>
              </a>
            </router-link>
            
            <router-link :to="{ name : 'admin.service.provider.ratings'}" class="nav-item">
              <a class="nav-link" href="index.html">
                <i class="material-icons">bubble_chart</i>
                <span>Ratings</span>
              </a>
            </router-link>
            
          </d-collapse>



          <li v-d-toggle.consumer variant="primary" class="nav-item" v-scroll-to="'#dashboard-section'">
            <a class="nav-link" href="index.html">
              <i class="material-icons">subtitles</i>
              <span>Consumers</span>
            </a>
          </li>
          <d-collapse id="consumer">
            <li class="nav-item" v-scroll-to="'#dashboard-section'">
              <a class="nav-link" href="index.html">
                <i class="material-icons">bubble_chart</i>
                <span>Manage Consumers</span>
              </a>
            </li>
            <li class="nav-item" v-scroll-to="'#dashboard-section'">
              <a class="nav-link" href="index.html">
                <i class="material-icons">bubble_chart</i>
                <span>Approvals</span>
              </a>
            </li>
            <li class="nav-item" v-scroll-to="'#dashboard-section'">
              <a class="nav-link" href="index.html">
                <i class="material-icons">bubble_chart</i>
                <span>Search Consumers</span>
              </a>
            </li>
            <li class="nav-item" v-scroll-to="'#dashboard-section'">
              <a class="nav-link" href="index.html">
                <i class="material-icons">bubble_chart</i>
                <span>Consumers Edit</span>
              </a>
            </li>
            <li class="nav-item" v-scroll-to="'#dashboard-section'">
              <a class="nav-link" href="index.html">
                <i class="material-icons">bubble_chart</i>
                <span>Consumers Items</span>
              </a>
            </li>
            <li class="nav-item" v-scroll-to="'#dashboard-section'">
              <a class="nav-link" href="index.html">
                <i class="material-icons">bubble_chart</i>
                <span>Total Sales</span>
              </a>
            </li>
            <li class="nav-item" v-scroll-to="'#dashboard-section'">
              <a class="nav-link" href="index.html">
                <i class="material-icons">bubble_chart</i>
                <span>Ratings</span>
              </a>
            </li>
          </d-collapse>


          <li v-d-toggle.account variant="primary" class="nav-item" v-scroll-to="'#dashboard-section'">
            <a class="nav-link" href="index.html">
              <i class="material-icons">subtitles</i>
              <span>Accounts</span>
            </a>
          </li>
          <d-collapse id="account">
            <li class="nav-item" v-scroll-to="'#dashboard-section'">
              <a class="nav-link" href="index.html">
                <i class="material-icons">bubble_chart</i>
                <span>Total Sales</span>
              </a>
            </li>
            <li class="nav-item" v-scroll-to="'#dashboard-section'">
              <a class="nav-link" href="index.html">
                <i class="material-icons">bubble_chart</i>
                <span>Consumer Paid</span>
              </a>
            </li>
            <li class="nav-item" v-scroll-to="'#dashboard-section'">
              <a class="nav-link" href="index.html">
                <i class="material-icons">bubble_chart</i>
                <span>Service Provider Paid</span>
              </a>
            </li>
            <li class="nav-item" v-scroll-to="'#dashboard-section'">
              <a class="nav-link" href="index.html">
                <i class="material-icons">bubble_chart</i>
                <span>Total Profit and Loss</span>
              </a>
            </li>
          </d-collapse>

        </ul>
      </div>
      <div>
      </div>
    </aside>
  </div>

</template>

<script>
  export default {
    data () {
      return {
        isShowing:false,
      }
    },
    methods: {
    }
  }
</script>
