<template>
        <div>
            <aside class="main-sidebar">
                <div class="logo" id="main-logo">
                    <img  class="d-inline-block align-top mr-1" src="images/dummy/logo.png" alt="Dashboard">
                </div>
                <div  class="nav-wrapper">
                    <ul class="nav flex-column">
                      <li class="nav-item" v-scroll-to="'#dashboard-section'">
                        <a class="nav-link active" href="index.html">
                          <i class="material-icons">bubble_chart</i>
                          <span>Home</span>
                        </a>
                      </li>
                      <li class="nav-item" v-scroll-to="'#forms-section'">
                        <a class="nav-link " href="index.html">
                          <i class="material-icons">subtitles</i>
                          <span>Vendors</span>
                        </a>
                      </li>
                      <li class="nav-item" v-scroll-to="'#rating-section'">
                        <a class="nav-link " href="index.html">
                          <i class="material-icons">star</i>
                          <span>Service Providers</span>
                        </a>
                      </li>
                      <li class="nav-item"  v-scroll-to="'#tables-section'">
                        <a class="nav-link " href="index.html">
                          <i class="material-icons">developer_board</i>
                          <span>Consumers</span>
                        </a>
                      </li>
                      <li class="nav-item" v-scroll-to="'#modals-section'">
                        <a class="nav-link " href="index.html">
                          <i class="material-icons">edit</i>
                          <span>Accounts</span>
                        </a>
                      </li>
                    </ul>
                </div>
            <div>
            </div>
        </aside>
        </div>

</template>

<script>
    export default {
      data () {
        return {
            isShowing:false,
        }
      },
      methods: {
    }
 }
</script>
