<template>
    <div class="dropdown-menu dropdown-menu-small notification-wrapper" aria-labelledby="dropdownMenuLink">
     <a class="dropdown-item" href="#">
        <div class="notification__icon-wrapper">
           <div class="notification__icon">
              <i class="material-icons">&#xE6E1;</i>
          </div>
      </div>
      <div class="notification__content">
       <span class="notification__category">Analytics</span>
       <p>Your website’s active users count increased by
          <span class="text-success text-semibold">28%</span> in the last week. Great job!
      </p>
  </div>
</a>
<a class="dropdown-item" href="#">
    <div class="notification__icon-wrapper">
       <div class="notification__icon">
          <i class="material-icons">&#xE8D1;</i>
      </div>
  </div>
  <div class="notification__content">
   <span class="notification__category">Sales</span>
   <p>Last week your store’s sales count decreased by
      <span class="text-danger text-semibold">5.52%</span>. It could have been worse!
  </p>
</div>
</a>
<a class="dropdown-item notification__all text-center view-all-notification" href="#"> View all Notifications </a>
</div>
</template>
