<template>
    <div class="panel" id="alerts-section">
        <div class="panel-inner">
           <div class="page-header row no-gutters py-4">
              <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">Overview</span>
                <h3 class="page-title">Alerts</h3>
              </div>
            </div>
            <d-card>
              <d-card-body>
            <div class="section-blocks">
               <div>
                    <d-alert theme="success" show>Alert - Success Theme - <a class="alert-link" href="#">Example Link</a></d-alert>
                    <d-alert theme="danger" show>Alert - Danger Theme - <a class="alert-link" href="#">Example Link</a></d-alert>                    
                    <d-alert theme="warning" class="radius" show>Alert - Warning Theme - <a class="alert-link" href="#">Example Link</a></d-alert>
                </div>

                 <p class="view-source margin-bottom-20px" @click="handleClick^= true"><i class="icon-eye"></i> View Source</p>

<pre v-if="handleClick">
<code>
   <span>&lt;div&gt;</span>
        <span>&lt;d-alert theme="success" show>Alert - Success Theme - &lt;a class="alert-link" href="&num;"&gt;Example Link&lt;/a&gt;&lt;/d-alert&gt;</span>
        <span>&lt;d-alert theme="danger" show>Alert - Danger Theme - &lt;a class="alert-link" href="&num;"&gt;Example Link&lt;/a&gt;&lt;/d-alert&gt;</span>
        <span>&lt;d-alert theme="warning" class="radius" show>Alert - Warning Theme - &lt;a class="alert-link" href="&num;"&gt;Example Link&lt;/a&gt;&lt;/d-alert&gt;</span>
    <span>&lt;/div&gt;</span>
</code>
</pre>
            </div>

            <div class="section-blocks">
                <h3>Self Dismissing Alerts</h3>
                <div class="dismiss-alert">
                    <d-alert dismissible :show="timeUntilDismissed" theme="success"
                        @alert-dismissed="timeUntilDismissed = 0"
                        @alert-dismiss-countdown="handleTimeChange">
                        <b>Success!</b> This alert will will be dismissed in {{ timeUntilDismissed }} seconds!
                    </d-alert>
                    <d-btn @click="showAlert">
                      Show Alert!
                    </d-btn>
                </div>

                <p class="view-source margin-bottom-20px" @click="isShowing ^= true"><i class="icon-eye"></i> View Source</p>
<pre v-show="isShowing">
<code>
    <span>&lt;div class="dismiss-alert"&gt;</span>
        <span>&lt;d-alert dismissible :show="timeUntilDismissed" theme="success"</span>
            <span>&commat;alert-dismissed="timeUntilDismissed = 0"</span>
            <span>&commat;alert-dismiss-countdown="handleTimeChange"&gt;</span>
            <span>&lt;b&gt;Success!&lt;/b&gt; This alert will will be dismissed in &lbrace;<span style="display: none">&sdot;</span>&lbrace; timeUntilDismissed &rbrace;&rbrace; seconds!</span>
        <span>&lt;/d-alert&gt;</span>
        <span>&lt;d-btn @click="showAlert"&gt;</span>
          Show Alert!
        <span>&lt;/d-btn&gt;</span>
    <span>&lt;/div&gt;</span>

    &lt;script&gt;
        export default &lbrace;
          data&lpar;&rpar; &lbrace;
            return &lbrace;
              duration: 5&lsquor;
              timeUntilDismissed: 0
            &rbrace;
          &rbrace;&lsquor;
          methods: &lbrace;
            handleTimeChange &lpar;time&rpar; &lbrace;
              this.timeUntilDismissed = time
            &rbrace;&lsquor;
            showAlert &lpar;&rpar; &lbrace;
              this.timeUntilDismissed = this.duration
            &rbrace;
          &rbrace;
        &rbrace;
    &lt;/script&gt;
</code>
</pre>

            </div>
            <div class="section-blocks">
                <h3>Transparent Alerts</h3>
                <div class="transparent-alert">
                    <d-alert theme="success" show>Alert - Success Theme - <a class="alert-link" href="#">Example Link</a></d-alert>
                    <d-alert theme="danger" show>Alert - Danger Theme - <a class="alert-link" href="#">Example Link</a></d-alert>
                </div>

                <p class="view-source" @click="handleClick^= true"><i class="icon-eye"></i> View Source</p>
<pre v-if="handleClick">
<code>
    <span>&lt;div class="transparent-alert"&gt;</span>
        <span>&lt;d-alert theme="success" show&gt;Alert - Success Theme - &lt;a class="alert-link" href="&num;"&gt;&lt;Example Link&lt;/a&gt;&lt;/d-alert&gt;</span>
        <span>&lt;d-alert theme="danger" show&gt;Alert - Danger Theme - &lt;a class="alert-link" href="&num;"&gt;Example Link&lt;/a&gt;&lt;/d-alert&gt;</span>
    <span>&lt;/div&gt;</span>
</code>
</pre>
            </div>
        </d-card-body>
    </d-card>
        </div>
    </div>
</template>

<script>
export default {
  data () {
    return {
        duration: 5,
        isShowing:false,
        handleClick:false,
        validationClick:false,
        timeUntilDismissed: 0
    }
  },
  methods: {
    handleTimeChange (time) {
      this.timeUntilDismissed = time
    },
    showAlert () {
      this.timeUntilDismissed = this.duration
    },
     handleClick() {
            this.isShowing = true
        },
        validationClick(){
            this.isShowing = true
        },
  }
}
</script>
