<template>
    <div class="panel" id="forms-section">
        <div class="panel-inner">
            <h1>Form</h1>
            <div class="section-blocks">
                <span class="avator-icon "></span>
            </div>
        </div>
    </div>
</template>
