<template>
     <div class="panel" id="badges-section">
        <div class="panel-inner">
            <div class="page-header row no-gutters py-4">
              <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">Overview</span>
                <h3 class="page-title">Badges</h3>
              </div>
            </div>
            <d-card>
              <d-card-body>
            <div class="section-blocks">
                <h3>Contextual Variations</h3>
                <div>
                    <d-badge theme="primary">Primary</d-badge>
                    <d-badge theme="secondary">Secondary</d-badge>
                    <d-badge theme="success">Success</d-badge>
                    <d-badge theme="danger">Danger</d-badge>
                    <d-badge theme="warning">Warning</d-badge>
                    <d-badge theme="info">Info</d-badge>
                </div>

                 <p class="view-source margin-bottom-20px" @click="isShowing ^= true"><i class="icon-eye"></i> View Source</p>

<pre v-show="isShowing">
<code>
    <span>&lt;div&gt;</span>
        <span>&lt;d-badge theme="primary">Primary&lt;/d-badge&gt;</span>
        <span>&lt;d-badge theme="secondary">Secondary&lt;/d-badge&gt;</span>
        <span>&lt;d-badge theme="success">Success&lt;/d-badge&gt;</span>
        <span>&lt;d-badge theme="danger">Danger&lt;/d-badge&gt;</span>
        <span>&lt;d-badge theme="warning">Warning&lt;/d-badge&gt;</span>
        <span>&lt;d-badge theme="info">Info&lt;/d-badge&gt;</span>
    <span>&lt;/div&gt;</span>
</code>
</pre>
            </div>
            <div class="section-blocks">
                <h3>Pill-Shaped Badges</h3>
                <div>
                    <d-badge pill theme="primary">Primary</d-badge>
                    <d-badge pill theme="secondary">Secondary</d-badge>
                    <d-badge pill theme="success">Success</d-badge>
                    <d-badge pill theme="danger">Danger</d-badge>
                    <d-badge pill theme="warning">Warning</d-badge>
                    <d-badge pill theme="info">Info</d-badge>
                </div>

                 <p class="view-source margin-bottom-20px" @click="handleClick^= true"><i class="icon-eye"></i> View Source</p>
<pre v-if="handleClick">
<code>
    <span>&lt;div></span>
        <span>&lt;d-badge pill theme="primary"&gt;Primary&lt;/d-badge&gt;</span>
        <span>&lt;d-badge pill theme="secondary"&gt;Secondary&lt;/d-badge&gt;</span>
        <span>&lt;d-badge pill theme="success"&gt;Success&lt;/d-badge&gt;</span>
        <span>&lt;d-badge pill theme="danger"&gt;Danger&lt;/d-badge&gt;</span>
        <span>&lt;d-badge pill theme="warning"&gt;Warning&lt;/d-badge&gt;</span>
        <span>&lt;d-badge pill theme="info"&gt;Info&lt;/d-badge&gt;</span>
    <span>&lt;/div&gt;</span>
</code>
</pre>
            </div>

             <div class="section-blocks">
                <h3>Link Badges</h3>
                <div>
                    <d-badge href="#" theme="primary">Primary</d-badge>
                    <d-badge href="#" theme="secondary">Secondary</d-badge>
                    <d-badge href="#" theme="success">Success</d-badge>
                    <d-badge href="#" theme="danger">Danger</d-badge>
                    <d-badge href="#" theme="warning">Warning</d-badge>
                    <d-badge href="#" theme="info">Info</d-badge>
                </div>

                <p class="view-source margin-bottom-20px" @click="validationClick^= true"><i class="icon-eye"></i> View Source</p>
<pre v-if="validationClick">
<code>
    <span>&lt;div&gt;</span>
        <span>&lt;d-badge href="&num;" theme="primary"&gt;Primary&lt;/d-badge&gt;</span>
        <span>&lt;d-badge href="&num;" theme="secondary"&gt;Secondary&lt;/d-badge&gt;</span>
        <span>&lt;d-badge href="&num;" theme="success"&gt;Success&lt;/d-badge&gt;</span>
        <span>&lt;d-badge href="&num;" theme="danger"&gt;Danger&lt;/d-badge&gt;</span>
        <span>&lt;d-badge href="&num;" theme="warning"&gt;Warning&lt;/d-badge&gt;</span>
        <span>&lt;d-badge href="&num;" theme="info"&gt;Info&lt;/d-badge&gt;</span>
    <span>&lt;/div&gt;</span>
</code>
</pre>
            </div>
             <div class="section-blocks">
                <h3>Outline Badges</h3>
                <div>
                    <d-badge outline theme="primary">Primary</d-badge>
                    <d-badge outline theme="secondary">Secondary</d-badge>
                    <d-badge outline theme="success">Success</d-badge>
                    <d-badge outline theme="danger">Danger</d-badge>
                    <d-badge outline theme="warning">Warning</d-badge>
                    <d-badge outline theme="info">Info</d-badge>
                </div>

                <p class="view-source margin-bottom-20px" @click="outlineClick^= true"><i class="icon-eye"></i> View Source</p>
<pre v-if="outlineClick">
<code>
    <span>&lt;div&gt;</span>
        <span>&lt;d-badge outline theme="primary"&gt;Primary&lt;/d-badge&gt;</span>
        <span>&lt;d-badge outline theme="secondary"&gt;Secondary&lt;/d-badge&gt;</span>
        <span>&lt;d-badge outline theme="success"&gt;Success&lt;/d-badge&gt;</span>
        <span>&lt;d-badge outline theme="danger"&gt;Danger&lt;/d-badge&gt;</span>
        <span>&lt;d-badge outline theme="warning"&gt;Warning&lt;/d-badge&gt;</span>
        <span>&lt;d-badge outline theme="info"&gt;Info&lt;/d-badge&gt;</span>
    <span>&lt;/div&gt;</span>
</code>
</pre>
            </div>
            <div class="section-blocks">
                <h3>Mixed Effects</h3>
                <div>
                    <d-badge outline pill theme="primary">Primary</d-badge>
                    <d-badge outline pill theme="secondary">Secondary</d-badge>
                    <d-badge outline pill theme="success">Success</d-badge>
                    <d-badge outline pill theme="danger">Danger</d-badge>
                    <d-badge outline pill theme="warning">Warning</d-badge>
                    <d-badge outline pill theme="info">Info</d-badge>
                </div>

                <p class="view-source" @click="mixedClick^= true"><i class="icon-eye"></i> View Source</p>
<pre v-if="mixedClick">
<code>
    <span>&lt;div&gt;</span>
        <span>&lt;d-badge outline pill theme="primary"&gt;Primary&lt;/d-badge&gt;</span>
        <span>&lt;d-badge outline pill theme="secondary"&gt;Secondary&lt;/d-badge&gt;</span>
        <span>&lt;d-badge outline pill theme="success"&gt;Success&lt;/d-badge&gt;</span>
        <span>&lt;d-badge outline pill theme="danger"&gt;Danger&lt;/d-badge&gt;</span>
        <span>&lt;d-badge outline pill theme="warning"&gt;Warning&lt;/d-badge&gt;</span>
        <span>&lt;d-badge outline pill theme="info"&gt;Info&lt;/d-badge&gt;</span>
    <span>&lt;/div&gt;</span>
</code>
</pre>
            </div>
</d-card-body></d-card>
        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                isShowing:false,
                handleClick:false,
                validationClick:false,
                mixedClick:false,
                outlineClick:false,
            }
        },
        methods: {
            handleClick() {
                this.isShowing = true
            },
            validationClick(){
                this.isShowing = true
            },
            mixedClick() {
                this.isShowing = true
            },
            outlineClick(){
                this.isShowing = true
            },
      }
  }
</script>