<template>
    <div class="panel" id="breadcrumbs-section">
        <div class="panel-inner">
            <div class="page-header row no-gutters py-4">
              <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">Overview</span>
                <h3 class="page-title">Breadcrumbs</h3>
              </div>
            </div>
            <d-card>
              <d-card-body>
                    <div class="section-blocks">
                <h3>Basic Example</h3>
                <div>
                    <d-breadcrumb :items="breadcrumbItems"/>
                </div>

                 <p class="view-source margin-top-0px" @click="validationClick^= true"><i class="icon-eye"></i> View Source</p>
<pre v-if="validationClick">
<code>
    <span>&lt;div&gt;</span>
        <span>&lt;d-breadcrumb :items="breadcrumbItems"/&gt;</span>
    <span>&lt;/div&gt;</span>
    &lt;script&gt;
        export default &lbrace;
           data&lpar;&rpar; &lbrace;
            return &lbrace;
              breadcrumbItems: &lbrack;&lbrace;
                text: 'Products'&comma;
                href: '&num;'
              &rbrace;&comma; &lbrace;
                text: 'Home'&comma;
                href: '&num;'
              &rbrace;&comma; &lbrace;
                text: 'Lightbulbs'&comma;
                active: true
              &rbrace;&rbrack;
            &rbrace;
          &rbrace;
        &rbrace;
    &lt;/script&gt;

</code>
</pre>

            </div>
            
              </d-card-body></d-card>
        </div>
    </div>
</template>

<script>
export default {
  data () {
    return {
        validationClick:false,
      breadcrumbItems: [{
        text: 'Products',
        href: '#'
      }, {
        text: 'Home',
        href: '#'
      }, {
        text: 'Lightbulbs',
        active: true
      }]
    }
  },

  methods: {
        validationClick(){
            this.isShowing = true
        },
    }
}
</script>
