<template>
     <div class="panel" id="cards-section">
        <div class="panel-inner">
            <div class="page-header row no-gutters py-4">
              <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">Components</span>
                <h3 class="page-title">Card</h3>
              </div>
            </div>
            <div class="section-blocks">
                <div class="row">
                    <div class="col-xs-12 col-md-3">
                        <d-card>
                            <d-card-img src="../../images/dummy/6.jpeg" class="card-img" />
                            <d-card-body title="Conduct at an replied removal an amongst">
                                <div class="profile-pics">
                                    <d-card-img src="../../images/dummy/lev-boyer.jpg"/>
                                </div>
                                <p>However venture pursuit he am mr cordial. Forming musical am hearing studied be luckily. But in for determine what would see...</p>
                                <p class="date">28 February 2019</p>
                            </d-card-body>
                        </d-card>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <d-card>
                            <d-card-img src="../../images/dummy/smile.jpg" class="card-img" />
                            <d-card-body title="Conduct at an replied removal an amongst">
                                <div class="profile-pics">
                                    <d-card-img src="../../images/dummy/anais-crist.jpg"/>
                                </div>
                                <p>However venture pursuit he am mr cordial. Forming musical am hearing studied be luckily. But in for determine what would see...</p>
                                <p class="date">28 February 2019</p>
                            </d-card-body>
                        </d-card>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <d-card>
                            <d-card-img src="../../images/dummy/dummy-pic.jpg" class="card-img" />
                            <d-card-body title="Conduct at an replied removal an amongst">
                                <div class="profile-pics">
                                    <d-card-img src="../../images/dummy/orlando-kris.jpg"/>
                                </div>
                                <p>However venture pursuit he am mr cordial. Forming musical am hearing studied be luckily. But in for determine what would see...</p>
                                <p class="date">28 February 2019</p>
                            </d-card-body>
                        </d-card>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <d-card>
                            <d-card-img src="../../images/dummy/student.jpg" class="card-img" />
                            <d-card-body title="Conduct at an replied removal an amongst">
                                <div class="profile-pics">
                                    <d-card-img src="../../images/dummy/lev-boyer.jpg"/>
                                </div>
                                <p>However venture pursuit he am mr cordial. Forming musical am hearing studied be luckily. But in for determine what would see...</p>
                                <p class="date">28 February 2019</p>
                            </d-card-body>
                        </d-card>
                    </div>
                </div>

                <p class="view-source margin-bottom-20px" @click="isShowing ^= true"><i class="icon-eye"></i> View Source</p>
<pre v-show="isShowing">
<code>
    <span>&lt;d-card&gt;</span>
        <span>&lt;d-card-header&gt;Card header&lt;/d-card-header&gt;</span>
        <span>&lt;d-card-img src="https://place-hold.it/300x200"/&gt;</span>
        <span>&lt;d-card-body title="Lorem Ipsum"&gt;</span>
            <span>&lt;p>Lorem ipsum dolor sit amet.&lt;/p&gt;</span>
            <span>&lt;d-btn theme="primary">Read more &rarr;&lt;/d-btn&gt;</span>
        <span>&lt;/d-card-body&gt;</span>
        <span>&lt;d-card-footer>Card footer&lt;/d-card-footer&gt;</span>
    <span>&lt;/d-card&gt;</span>
</code>
</pre>
            </div>

            <div class="section-blocks">
                <h3>Without Radius</h3>
                <div class="row">
                    <div class="col-xs-12 col-md-3">
                        <d-card class="without-radius">
                            <d-card-img src="../../images/dummy/dummy-pic.jpg" class="card-img" />
                            <d-card-body title="Conduct at an replied removal an amongst">
                                <div class="profile-pics">
                                    <d-card-img src="../../images/dummy/lev-boyer.jpg"/>
                                </div>
                                <p>However venture pursuit he am mr cordial. Forming musical am hearing studied be luckily. But in for determine what would see...</p>
                                <p class="date">28 February 2019</p>
                            </d-card-body>
                        </d-card>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <d-card class="without-radius">
                            <d-card-img src="../../images/dummy/dummy-pic.jpg" class="card-img" />
                            <d-card-body title="Conduct at an replied removal an amongst">
                                <div class="profile-pics">
                                    <d-card-img src="../../images/dummy/lev-boyer.jpg"/>
                                </div>
                                <p>However venture pursuit he am mr cordial. Forming musical am hearing studied be luckily. But in for determine what would see...</p>
                                <p class="date">28 February 2019</p>
                            </d-card-body>
                        </d-card>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <d-card class="without-radius">
                            <d-card-img src="../../images/dummy/dummy-pic.jpg" class="card-img" />
                            <d-card-body title="Conduct at an replied removal an amongst">
                                <div class="profile-pics">
                                    <d-card-img src="../../images/dummy/lev-boyer.jpg"/>
                                </div>
                                <p>However venture pursuit he am mr cordial. Forming musical am hearing studied be luckily. But in for determine what would see...</p>
                                <p class="date">28 February 2019</p>
                            </d-card-body>
                        </d-card>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <d-card class="without-radius">
                            <d-card-img src="../../images/dummy/dummy-pic.jpg" class="card-img" />
                            <d-card-body title="Conduct at an replied removal an amongst">
                                <div class="profile-pics">
                                    <d-card-img src="../../images/dummy/lev-boyer.jpg"/>
                                </div>
                                <p>However venture pursuit he am mr cordial. Forming musical am hearing studied be luckily. But in for determine what would see...</p>
                                <p class="date">28 February 2019</p>
                            </d-card-body>
                        </d-card>
                    </div>
                </div>

                <p class="view-source margin-bottom-20px" @click="handleClick ^= true"><i class="icon-eye"></i> View Source</p>
<pre v-show="handleClick">
<code>
    <span>&lt;d-card class="without-radius"&gt;</span>
        <span>&lt;d-card-header&gt;Card header&lt;/d-card-header&gt;</span>
        <span>&lt;d-card-img src="https://place-hold.it/300x200"/&gt;</span>
        <span>&lt;d-card-body title="Lorem Ipsum"&gt;</span>
            <span>&lt;p>Lorem ipsum dolor sit amet.&lt;/p&gt;</span>
            <span>&lt;d-btn theme="primary">Read more &rarr;&lt;/d-btn&gt;</span>
        <span>&lt;/d-card-body&gt;</span>
        <span>&lt;d-card-footer>Card footer&lt;/d-card-footer&gt;</span>
    <span>&lt;/d-card&gt;</span>
</code>
</pre>
            </div>

            <div class="section-blocks">
                <h3>Left Side Image</h3>
                <div>
                    <d-row>
                        <d-col>
                            <d-card class="card-small card-post card-post--aside card-post--1">
                                <div class="card-post__image" style="background-image: url(../../images/dummy/5.jpeg);">
                                </div>
                                <d-card-body title="Attention he extremity unwilling on otherwise cars backwards yet">
                                    <p>Conviction up partiality as delightful is discovered. Yet jennings resolved disposed exertion you off. Left did fond drew fat head poor jet pan flying over...</p>
                                    <p class="date">29 February 2019</p>
                                </d-card-body>
                            </d-card>
                        </d-col>
                        <d-col>
                            <d-card class="card-small card-post card-post--aside card-post--1">
                                <div class="card-post__image" style="background-image: url(../../images/dummy/6.jpeg);">
                                </div>
                                <d-card-body title="Attention he extremity unwilling on otherwise cars backwards yet">
                                    <p>Conviction up partiality as delightful is discovered. Yet jennings resolved disposed exertion you off. Left did fond drew fat head poor jet pan flying over...</p>
                                    <p class="date">29 February 2019</p>
                                </d-card-body>
                            </d-card>
                        </d-col>
                    </d-row>
                </div>

                <p class="view-source margin-bottom-20px" @click="validationClick^= true"><i class="icon-eye"></i> View Source</p>
<pre v-if="validationClick">
<code>
   <span>&lt;d-card class=&quot;card-small card-post card-post--aside card-post--1&quot;&gt;</span>
        <span>&lt;div class=&quot;card-post__image&quot; style=&quot;background-image: url(../../images/dummy/5.jpeg);&quot;&gt;</span>
        <span>&lt;/div&gt;</span>
        <span>&lt;d-card-body title=&quot;Attention he extremity unwilling on otherwise cars backwards yet&quot;&gt;</span>
            <span>&lt;p&gt;Conviction up partiality as delightful is discovered. Yet jennings resolved disposed exertion you off. Left did fond drew fat head poor jet pan flying over...&lt;/p&gt;</span>
            <span>&lt;p class=&quot;date&quot;&gt;29 February 2019&lt;/p&gt;</span>
        <span>&lt;/d-card-body&gt;</span>
    <span>&lt;/d-card&gt;</span>
</code>
</pre>
            </div>
           
            <div class="section-blocks">
                <h3>Card Image</h3>
                <div>
                    <d-row>
                        <d-col>
                            <d-card>
                                <d-card-img src="../../images/dummy/student.jpg" top />
                                <d-card-body>
                                    <div>this is the body contents</div>
                                </d-card-body>
                            </d-card>
                        </d-col>
                        <d-col>
                            <d-card>
                                <d-card-body>
                                    <div>this is the body contents</div>
                                </d-card-body>
                                <d-card-img src="../../images/dummy/smile.jpg" bottom />
                            </d-card>
                        </d-col>
                    </d-row>
                </div>

                <p class="view-source" @click="outlineClick^= true"><i class="icon-eye"></i> View Source</p>
<pre v-if="outlineClick">
<code>
    <span>&lt;div&gt;</span>
        <span>&lt;d-card&gt;</span>
            <span>&lt;d-card-img src="../../images/dummy/smile.jpg" top /&gt;</span>
            <span>&lt;d-card-body&gt;</span>
                <span>&lt;div>this is the body contents&lt;/div&gt;</span>
            <span>&lt;/d-card-body&gt;</span>
        <span>&lt;/d-card&gt;</span>
    <span>&lt;/div&gt;</span>
</code>
</pre>
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    data() {
      return {
        isShowing:false,
        handleClick:false,
        validationClick:false,
        mixedClick:false,
        outlineClick:false,
      }
    },
    methods: {
        handleClick() {
            this.isShowing = true
        },
        validationClick(){
            this.isShowing = true
        },
        mixedClick() {
            this.isShowing = true
        },
        outlineClick(){
            this.isShowing = true
        },
    }
  }
</script>