<template>
  <div class="panel" id="dashboard-section">
    <div class="panel-inner">
      <div class="page-header row no-gutters py-4">
          <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">Overview</span>
            <h3 class="page-title">Chart</h3>
          </div>
        </div>

      <div class="colum-btm-space">
        <div class="row">
          <div class="col-xs-12 col-md-3 col-sm-6">
            <d-card>
              <d-card-body class="text-center graphs-stats">
                <div class="d-flex flex-column m-auto">
                  <div class="stats-small__data text-center">
                    <span class="stats-small__label text-uppercase">Posts</span>
                    <h6 class="stats-small__value count my-3">2,390</h6>
                  </div>
                  <div class="stats-small__data">
                    <span class="stats-small__percentage stats-small__percentage--increase">4.7%</span>
                  </div>
                </div>
              </d-card-body>
            </d-card>
          </div>
          <div class="col-xs-12 col-md-3 col-sm-6">
            <d-card>
              <d-card-body class="text-center graphs-stats">
                <div class="d-flex flex-column m-auto">
                  <div class="stats-small__data text-center">
                    <span class="stats-small__label text-uppercase">Posts</span>
                    <h6 class="stats-small__value count my-3">2,390</h6>
                  </div>
                  <div class="stats-small__data">
                    <span class="stats-small__percentage stats-small__percentage--decrease">4.7%</span>
                  </div>
                </div>
              </d-card-body>
            </d-card>
          </div>
          <div class="col-xs-12 col-md-3 col-sm-6">
            <d-card>
              <d-card-body class="text-center graphs-stats">
                <div class="d-flex flex-column m-auto">
                  <div class="stats-small__data text-center">
                    <span class="stats-small__label text-uppercase">Posts</span>
                    <h6 class="stats-small__value count my-3">2,390</h6>
                  </div>
                  <div class="stats-small__data">
                    <span class="stats-small__percentage stats-small__percentage--increase">4.7%</span>
                  </div>
                </div>
              </d-card-body>
            </d-card>
          </div>
          <div class="col-xs-12 col-md-3 col-sm-6">
            <d-card>
              <d-card-body class="text-center graphs-stats">
                <div class="d-flex flex-column m-auto">
                  <div class="stats-small__data text-center">
                    <span class="stats-small__label text-uppercase">Posts</span>
                    <h6 class="stats-small__value count my-3">2,390</h6>
                  </div>
                  <div class="stats-small__data">
                    <span class="stats-small__percentage stats-small__percentage--increase">4.7%</span>
                  </div>
                </div>
              </d-card-body>
            </d-card>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <d-card class="colum-btm-space">
            <d-card-body class="text-center graphs-stats">
              <div class="chart-column chart-1">
                <h3 class="float-left">Line Chart</h3>
                <div id="line-chart" class="charts-height" ></div>
              </div>
            </d-card-body>
          </d-card>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <d-card class="colum-btm-space">
            <d-card-body class="text-center graphs-stats">
              <div class="chart-column chart-2">
                <h3 class="float-left">Bar Chart</h3>
                <div id="bar-chart" class="charts-height" ></div>
              </div>
            </d-card-body>
          </d-card>
        </div>
        <div class="col-xs-12 col-md-6">
          <d-card class="colum-btm-space">
            <d-card-body class="text-center graphs-stats">
              <div class="chart-column chart-3">
                <h3 class="float-left">Column Chart</h3>
                <div id="column-chart" class="charts-height" ></div>
              </div>
            </d-card-body>
          </d-card>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <d-card class="">
            <d-card-body class="text-center graphs-stats">
              <div class="chart-column chart-4">
                <h3 class="float-left">Pie Chart</h3>
                <div id="pie-chart" class="charts-height"></div>
              </div>
            </d-card-body>
          </d-card>
        </div>
        <div class="col-xs-12 col-md-6">
          <d-card class="">
            <d-card-body class="text-center graphs-stats">
              <div class="chart-column chart-5">
                <h3 class="float-left">Pie Chart</h3>
                <div id="pie-chart-2" class="charts-height"></div>
              </div>
            </d-card-body>
          </d-card>
        </div>
      </div>
    </div>
  </div>
</div>
</template>
<script>
  export default {
    data () {
      return {
        opened: false,
        date: new Date(2018, 8, 23),
      }
    },
    methods: {
      handleOpened() {
        this.opened = true
      },
      handleClosed() {
        this.opened = false
      },
      initializeCharts(){
    //custom signups
    AmCharts.makeChart("line-chart",
    {
      "type": "serial",
      "pathToImages": "https://www.amcharts.com/lib/3/images/",
      "categoryField": "date",
      "dataDateFormat": "YYYY-MM-DD",
      "colors": [
      "#0D8ECF",
      "#2A0CD0",
      "#CD0D74",
      "#CC0000",
      "#00CC00",
      "#0000CC",
      "#DDDDDD",
      "#999999",
      "#333333",
      "#990000"
      ],
      "color": "#1A1A1A",
      "fontFamily": "AkzidenzGroteskBE-Regular",
      "theme": "default",
      "autoMargins": false,
      "marginBottom": 25,
      "marginTop": 6,
      "marginLeft": 55,
      "marginRight": 20,
      "categoryAxis": {
        "parseDates": true,
        "gridAlpha": 1,
        "gridColor": "#F5F5F5"
      },
      "chartCursor": {
        "enabled": true,
        "categoryBalloonDateFormat": "MMM YYYY"
      },
      "chartScrollbar": {
        "enabled": true,
        "backgroundColor": "#D9D9D9",
        "graphFillColor": "#D9D9D9",
        "graphLineColor": "#D9D9D9",
        "selectedBackgroundColor": "#F5F5F5"
      },
      "trendLines": [],
      "graphs": [
      {
        "balloonText": "[[title]]: [[value]]",
        "bullet": "round",
        "fillAlphas": 0.13,
        "id": "AmGraph-1",
        "title": "Data Label",
        "valueField": "value"
      }
      ],
      "guides": [],
      "valueAxes": [
      {
        "id": "ValueAxis-1",
        "gridAlpha": 1,
        "gridColor": "#F5F5F5",
        "title": ""
      }
      ],
      "allLabels": [],
      "balloon": {
        "horizontalPadding": 6,
        "offsetX": 5,
        "verticalPadding": 6
      },
      "titles": [
      {
        "id": "Title-1",
        "size": 15,
        "text": ""
      }
      ],
      "dataProvider": [
      {
        "date": "2012-07-27",
        "value": 13
      },
      {
        "date": "2012-07-28",
        "value": 11
      },
      {
        "date": "2012-07-29",
        "value": 15
      },
      {
        "date": "2012-07-30",
        "value": 16
      },
      {
        "date": "2012-07-31",
        "value": 18
      },
      {
        "date": "2012-08-01",
        "value": 13
      },
      {
        "date": "2012-08-02",
        "value": 22
      },
      {
        "date": "2012-08-03",
        "value": 23
      },
      {
        "date": "2012-08-04",
        "value": 20
      },
      {
        "date": "2012-08-05",
        "value": 17
      },
      {
        "date": "2012-08-06",
        "value": 16
      },
      {
        "date": "2012-08-07",
        "value": 18
      },
      {
        "date": "2012-08-08",
        "value": 21
      },
      {
        "date": "2012-08-09",
        "value": 26
      },
      {
        "date": "2012-08-10",
        "value": 24
      },
      {
        "date": "2012-08-11",
        "value": 29
      },
      {
        "date": "2012-08-12",
        "value": 32
      },
      {
        "date": "2012-08-13",
        "value": 18
      },
      {
        "date": "2012-08-14",
        "value": 24
      },
      {
        "date": "2012-08-15",
        "value": 22
      },
      {
        "date": "2012-08-16",
        "value": 18
      },
      {
        "date": "2012-08-17",
        "value": 19
      },
      {
        "date": "2012-08-18",
        "value": 14
      },
      {
        "date": "2012-08-19",
        "value": 15
      },
      {
        "date": "2012-08-20",
        "value": 12
      },
      {
        "date": "2012-08-21",
        "value": 8
      },
      {
        "date": "2012-08-22",
        "value": 9
      },
      {
        "date": "2012-08-23",
        "value": 8
      },
      {
        "date": "2012-08-24",
        "value": 7
      },
      {
        "date": "2012-08-25",
        "value": 5
      },
      {
        "date": "2012-08-26",
        "value": 11
      },
      {
        "date": "2012-08-27",
        "value": 13
      },
      {
        "date": "2012-08-28",
        "value": 18
      },
      {
        "date": "2012-08-29",
        "value": 20
      },
      {
        "date": "2012-08-30",
        "value": 29
      },
      {
        "date": "2012-08-31",
        "value": 33
      },
      {
        "date": "2012-09-01",
        "value": 42
      },
      {
        "date": "2012-09-02",
        "value": 35
      },
      {
        "date": "2012-09-03",
        "value": 31
      },
      {
        "date": "2012-09-04",
        "value": 47
      },
      {
        "date": "2012-09-05",
        "value": 52
      },
      {
        "date": "2012-09-06",
        "value": 46
      },
      {
        "date": "2012-09-07",
        "value": 41
      }
      ]
    }
    );

AmCharts.makeChart("bar-chart",
{
  "type": "serial",
  "categoryField": "category",
  "rotate": true,
  "startDuration": 1,
  "pathToImages": "https://www.amcharts.com/lib/3/images/",
  "colors": [
  "#0D8ECF",
  "#2A0CD0",
  "#CD0D74",
  "#CC0000",
  "#00CC00",
  "#0000CC",
  "#DDDDDD",
  "#999999",
  "#333333",
  "#990000"
  ],
  "categoryAxis": {
    "gridPosition": "start"
  },
  "chartCursor": {
    "enabled": true
  },
  "chartScrollbar": {
    "enabled": true
  },
  "trendLines": [],
  "graphs": [
  {
    "fillAlphas": 1,
    "id": "AmGraph-1",
    "title": "graph 1",
    "type": "column",
    "valueField": "column-1"
  }
  ],
  "guides": [],
  "valueAxes": [
  {
    "id": "ValueAxis-1",
    "title": ""
  }
  ],
  "allLabels": [],
  "balloon": {},
  "titles": [
  {
    "id": "Title-1",
    "size": 15,
    "text": "Chart Title"
  }
  ],
  "dataProvider": [
  {
    "category": "category 1",
    "column-1": 8
  },
  {
    "category": "category 2",
    "column-1": 16
  },
  {
    "category": "category 3",
    "column-1": 2
  },
  {
    "category": "category 4",
    "column-1": 7
  },
  {
    "category": "category 5",
    "column-1": 5
  },
  {
    "category": "category 6",
    "column-1": 9
  },
  {
    "category": "category 7",
    "column-1": 4
  },
  {
    "category": "category 8",
    "column-1": 15
  }
  ]
}
);
AmCharts.makeChart("column-chart",
{
  "type": "serial",
  "categoryField": "category",
  "dataDateFormat": "YYYY-MM-DD",
  "startDuration": 1,
  "pathToImages": "https://www.amcharts.com/lib/3/images/",
  "colors": [
  "#0D8ECF",
  "#2A0CD0",
  "#CD0D74",
  "#CC0000",
  "#00CC00",
  "#0000CC",
  "#DDDDDD",
  "#999999",
  "#333333",
  "#990000"
  ],
  "categoryAxis": {
    "gridPosition": "start",
    "parseDates": true
  },
  "chartCursor": {
    "enabled": true
  },
  "chartScrollbar": {
    "enabled": true
  },
  "trendLines": [],
  "graphs": [
  {
    "fillAlphas": 1,
    "id": "AmGraph-1",
    "title": "graph 1",
    "type": "column",
    "valueField": "column-1"
  }
  ],
  "guides": [],
  "valueAxes": [
  {
    "id": "ValueAxis-1",
    "title": "Axis title"
  }
  ],
  "allLabels": [],
  "balloon": {},
  "titles": [
  {
    "id": "Title-1",
    "size": 15,
    "text": "Chart Title"
  }
  ],
  "dataProvider": [
  {
    "category": "2014-03-01",
    "column-1": 8
  },
  {
    "category": "2014-03-02",
    "column-1": 16
  },
  {
    "category": "2014-03-03",
    "column-1": 2
  },
  {
    "category": "2014-03-04",
    "column-1": 7
  },
  {
    "category": "2014-03-05",
    "column-1": 5
  },
  {
    "category": "2014-03-06",
    "column-1": 9
  },
  {
    "category": "2014-03-07",
    "column-1": 4
  },
  {
    "category": "2014-03-08",
    "column-1": 15
  },
  {
    "category": "2014-03-09",
    "column-1": 12
  },
  {
    "category": "2014-03-10",
    "column-1": 17
  },
  {
    "category": "2014-03-11",
    "column-1": 18
  },
  {
    "category": "2014-03-12",
    "column-1": 21
  },
  {
    "category": "2014-03-13",
    "column-1": 24
  },
  {
    "category": "2014-03-14",
    "column-1": 23
  },
  {
    "category": "2014-03-15",
    "column-1": 24
  }
  ]
}
);
AmCharts.makeChart("pie-chart",
{
  "type": "pie",
  "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
  "labelText": "[[title]]([[percents]]%)",
  "pullOutRadius": 0,
  "colors": [
  "#0D8ECF",
  "#2A0CD0",
  "#00CC00",
  "#0000CC",
  "#DDDDDD",
  "#999999",
  "#333333",
  "#990000"
  ],
  "marginBottom": 0,
  "marginTop": 0,
  "titleField": "category",
  "valueField": "column-1",
  "allLabels": [],
  "balloon": {},
  "legend": {
    "enabled": true,
    "align": "center",
    "markerType": "circle"
  },
  "titles": [],
  "dataProvider": [
  {
    "category": "category 1",
    "column-1": 8
  },
  {
    "category": "category 2",
    "column-1": 6
  },
  {
    "category": "category 3",
    "column-1": 2
  }
  ]
}
);
AmCharts.makeChart("pie-chart-2",
{
  "type": "pie",
  "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
  "labelText": "",
  "pullOutRadius": 0,
  "colors": [
  "#0D8ECF",
  "#2A0CD0",
  "#00CC00",
  "#0000CC",
  "#DDDDDD",
  "#999999",
  "#333333",
  "#990000"
  ],
  "marginBottom": 0,
  "marginTop": 0,
  "titleField": "category",
  "valueField": "column-1",
  "allLabels": [],
  "balloon": {},
  "legend": {
    "enabled": true,
    "align": "center",
    "markerType": "circle"
  },
  "titles": [],
  "dataProvider": [
  {
    "category": "category 1",
    "column-1": 8
  },
  {
    "category": "category 2",
    "column-1": 6
  },
  {
    "category": "category 3",
    "column-1": 2
  }
  ]
}
);
},
},
mounted() {
  this.initializeCharts();
},
}
</script>
