<template>
    <div class="panel" id="forms-section">
        <div class="panel-inner p-b-0">

            <div class="page-header row no-gutters py-4">
              <div class="col-12 col-sm-4 text-left text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">Overview</span>
                <h3 class="page-title">Form</h3>
            </div>
        </div>

        <div class="colum-btm-space card">

            <div class="card-body">
                <div class="section-blocks">
                    <!-- full width form -->
                    <d-form @submit="handleOnSubmit">
                        <div class="row">
                            <div class="col-xs-12 col-md-3">
                                <div class="form-group">
                                    <label class="" for="f2_Email">First Name</label>
                                    <d-input id="First_Name" class="mb-2 mr-sm-2 mb-sm-0" v-model="form.name" placeholder="Enter first name" required />
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <div class="form-group">
                                    <label class="" for="f2_Email">Email Address</label>
                                    <d-input id="f2_Email" class="mb-2 mr-sm-2 mb-sm-0" v-model="form.email" placeholder="Enter email" required />
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-3" id="selectize-section">
                                <div class="form-group">
                                    <label class="">Selectize</label>
                                    <selectize v-model="selectedvalue" :settings="settings" class="selectize-control"> <!-- settings is optional -->
                                      <option :value="1">One</option>
                                      <option :value="2">Two</option>
                                  </selectize>
                              </div>
                          </div>
                          <div class="col-xs-12 col-md-3">
                            <div class="form-group">
                                <label for="f2_PasswordInput" class="">Profession</label>
                                <d-form-select v-model="selected_profession" class="mb-3">
                                  <option :value="null" selected>Select an option</option>
                                  <option value="businessman">Business Men</option>
                                  <option value="employee" disabled>Employee</option>
                              </d-form-select>
                          </div>
                      </div>
                      <div class="col-xs-12 col-md-3" id="datepicker-section">
                        <div class="form-group">
                            <label class="" for="f2_Email">Date Picker</label>
                            <d-datepicker class="with-icon datepicker-icon" v-model="form.date" placeholder="Enter date" typeable />
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3" id="timepicker-section">
                        <div class="form-group">
                            <label class="" for="f2_Email">Time Picker</label>
                            <vue-timepicker class="with-icon datepicker-icon" format="HH:mm:ss"></vue-timepicker>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label class="" for="f2_Email">Upload File</label>
                            <fieldset>
                                <div class="custom-file w-100">
                                    <input type="file" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">
                                        Choose file...
                                    </label></div></fieldset>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-12 clearfix"></div>
                            <div class="col-xs-12 col-md-4">
                                <label>Select your favorite fruits:</label>
                                <d-form-radio v-model="form.radiobtn" value="orange">Orange</d-form-radio>
                                <d-form-radio v-model="form.radiobtn" value="lemon">Lemon</d-form-radio>
                                <d-form-radio v-model="form.radiobtn" value="kiwi">Kiwi</d-form-radio>
                                <p><label>Data:</label> {{form.radiobtn}}</p>

                            </div>
                            <div class="col-xs-12 col-md-4">
                                <label>Select your favorite fruits</label>
                                <d-checkbox v-model="form.selected" name="fav_fruits" value="orange">Orange</d-checkbox>
                                <d-checkbox v-model="form.selected" name="fav_fruits" value="lemon">Lemon</d-checkbox>
                                <d-checkbox v-model="form.selected" name="fav_fruits" value="kiwi">Kiwi</d-checkbox>
                                <p><label>Data:</label> {{form.selected}}</p>
                            </div>

                            <div class="col-xs-12 col-md-4">
                                <div class="custom-control custom-toggle custom-toggle-sm mb-1">
                                  <input type="checkbox" id="customToggle1" name="customToggle1" class="custom-control-input">
                                  <label class="custom-control-label" for="customToggle1">Default</label>
                              </div>
                              <div class="custom-control custom-toggle custom-toggle-sm mb-1">
                                  <input type="checkbox" id="customToggle2" name="customToggle2" class="custom-control-input" checked="checked">
                                  <label class="custom-control-label" for="customToggle2">Checked</label>
                              </div>
                              <div class="custom-control custom-toggle custom-toggle-sm mb-1">
                                  <input type="checkbox" id="customToggle3" name="customToggle3" class="custom-control-input" disabled="disabled">
                                  <label class="custom-control-label" for="customToggle3">Disabled</label>
                              </div>
                              <div class="custom-control custom-toggle custom-toggle-sm mb-1">
                                  <input type="checkbox" id="customToggle4" name="customToggle4" class="custom-control-input" checked="checked" disabled="disabled">
                                  <label class="custom-control-label" for="customToggle4">Disabled Checked</label>
                              </div>
                          </div>
                          <div class="col-xs-12 col-md-12">
                            <div class="form-group">
                                <label>Textarea</label>
                                <d-form-textarea v-model="text" placeholder="Enter something" :rows="3" :max-rows="6"></d-form-textarea>
                            </div>
                        </div>
                          <div class="col-xs-12 col-md-12">
                            <div class="form-group">
                                <d-form-checkbox v-model="form.tos" value="tos_agree" unchecked-value="tos_do_not_agree">I agree with the <a href="#">Terms of Service</a></d-form-checkbox>
                            </div>
                        </div>
                    </div>
                    <d-button type="submit">Create Account</d-button>
                </d-form>

                <p class="view-source" @click="isShowing ^= true"><i class="icon-eye"></i> View Source</p>
          
<pre v-show="isShowing">
    <code>
        <span>&lt;d-form @submit=&quot;handleOnSubmit&quot;&gt;</span>
            <span>&lt;div class=&quot;row&quot;&gt;</span>
                <span>&lt;div class=&quot;col-xs-12 col-md-3&quot;&gt;</span>
                    <span>&lt;div class=&quot;form-group&quot;&gt;</span>
                        <span>&lt;label class=&quot;&quot; for=&quot;f2_Email&quot;&gt;First Name&lt;/label&gt;</span>
                        <span>&lt;d-input id=&quot;First_Name&quot; class=&quot;mb-2 mr-sm-2 mb-sm-0&quot; v-model=&quot;form.name&quot; placeholder=&quot;Enter first name&quot; required /&gt;</span>
                    <span>&lt;/div&gt;</span>
                <span>&lt;/div&gt;</span>
                <span>&lt;div class=&quot;col-xs-12 col-md-3&quot;&gt;</span>
                    <span>&lt;div class=&quot;form-group&quot;&gt;</span>
                        <span>&lt;label class=&quot;&quot; for=&quot;f2_Email&quot;&gt;Email Address&lt;/label&gt;</span>
                        <span>&lt;d-input id=&quot;f2_Email&quot; class=&quot;mb-2 mr-sm-2 mb-sm-0&quot; v-model=&quot;form.email&quot; placeholder=&quot;Enter email&quot; required /&gt;</span>
                    <span>&lt;/div&gt;</span>
                <span>&lt;/div&gt;</span>
                <span>&lt;div class=&quot;col-xs-12 col-md-3&quot; id=&quot;selectize-section&quot;&gt;</span>
                    <span>&lt;div class=&quot;form-group&quot;&gt;</span>
                        <span>&lt;label class=&quot;&quot;&gt;Selectize&lt;/label&gt;</span>
                        <span>&lt;selectize v-model=&quot;selectedvalue&quot; :settings=&quot;settings&quot; class=&quot;selectize-control&quot;&gt; &lt;!-- settings is optional --&gt;</span>
                          <span>&lt;option :value=&quot;1&quot;&gt;One&lt;/option&gt;</span>
                          <span>&lt;option :value=&quot;2&quot;&gt;Two&lt;/option&gt;</span>
                        <span>&lt;/selectize&gt;</span>
                    <span>&lt;/div&gt;</span>
                <span>&lt;/div&gt;</span>
                <span>&lt;div class=&quot;col-xs-12 col-md-3&quot;&gt;</span>
                    <span>&lt;div class=&quot;form-group&quot;&gt;</span>
                        <span>&lt;label for=&quot;f2_PasswordInput&quot; class=&quot;&quot;&gt;Profession&lt;/label&gt;</span>
                        <span>&lt;d-form-select v-model=&quot;selected_profession&quot; class=&quot;mb-3&quot;&gt;</span>
                        <span>&lt;option :value=&quot;null&quot; selected&gt;Select an option&lt;/option&gt;</span>
                        <span>&lt;option value=&quot;businessman&quot;&gt;Business Men&lt;/option&gt;</span>
                        <span>&lt;option value=&quot;employee&quot; disabled&gt;Employee&lt;/option&gt;</span>
                        <span>&lt;/d-form-select&gt;</span>
                    <span>&lt;/div&gt;</span>
                <span>&lt;/div&gt;</span>
                <span>&lt;div class=&quot;col-xs-12 col-md-3&quot; id=&quot;datepicker-section&quot;&gt;</span>
                    <span>&lt;div class=&quot;form-group&quot;&gt;</span>
                        <span>&lt;label class=&quot;&quot; for=&quot;f2_Email&quot;&gt;Date Picker&lt;/label&gt;</span>
                        <span>&lt;d-datepicker class=&quot;with-icon datepicker-icon&quot; v-model=&quot;form.date&quot; placeholder=&quot;Enter date&quot; typeable /&gt;</span>
                    <span>&lt;/div&gt;</span>
                <span>&lt;/div&gt;</span>
                <span>&lt;div class=&quot;col-xs-12 col-md-3&quot; id=&quot;timepicker-section&quot;&gt;</span>
                    <span>&lt;div class=&quot;form-group&quot;&gt;</span>
                        <span>&lt;label class=&quot;&quot; for=&quot;f2_Email&quot;&gt;Time Picker&lt;/label&gt;</span>
                        <span>&lt;vue-timepicker class=&quot;with-icon datepicker-icon&quot; format=&quot;HH:mm:ss&quot;&gt;&lt;/vue-timepicker&gt;</span>
                    <span>&lt;/div&gt;</span>
                <span>&lt;/div&gt;</span>
                <span>&lt;div class=&quot;col-xs-12 col-md-6&quot;&gt;</span>
                    <span>&lt;div class=&quot;form-group&quot;&gt;</span>
                        <span>&lt;label class=&quot;&quot; for=&quot;f2_Email&quot;&gt;Upload File&lt;/label&gt;</span>
                        <span>&lt;fieldset&gt;</span>
                            <span>&lt;div class=&quot;custom-file w-100&quot;&gt;</span>
                                <span>&lt;input type=&quot;file&quot; class=&quot;custom-file-input&quot; id=&quot;customFile&quot;&gt;</span>
                                <span>&lt;label class=&quot;custom-file-label&quot; for=&quot;customFile&quot;&gt;</span>
                                    <span>Choose file...</span>
                                <span>&lt;/label&gt;&lt;/div&gt;&lt;/fieldset&gt;</span>
                            <span>&lt;/div&gt;</span>
                    <span>&lt;/div&gt;</span>
                <span>&lt;div class=&quot;col-xs-12 col-md-12 clearfix&quot;&gt;&lt;/div&gt;</span>
                <span>&lt;div class=&quot;col-xs-12 col-md-4&quot;&gt;</span>
                    <span>&lt;label&gt;Select your favorite fruits:&lt;/label&gt;</span>
                    <span>&lt;d-form-radio v-model=&quot;form.radiobtn&quot; value=&quot;orange&quot;&gt;Orange&lt;/d-form-radio&gt;</span>
                    <span>&lt;d-form-radio v-model=&quot;form.radiobtn&quot; value=&quot;lemon&quot;&gt;Lemon&lt;/d-form-radio&gt;</span>
                    <span>&lt;d-form-radio v-model=&quot;form.radiobtn&quot; value=&quot;kiwi&quot;&gt;Kiwi&lt;/d-form-radio&gt;</span>
                    <span>&lt;p&gt;&lt;label&gt;Data:&lt;/label&gt; {{form.radiobtn}}&lt;/p&gt;</span>
                <span>&lt;/div&gt;</span>
                <span>&lt;div class=&quot;col-xs-12 col-md-4&quot;&gt;</span>
                    <span>&lt;label&gt;Select your favorite fruits&lt;/label&gt;</span>
                    <span>&lt;d-checkbox v-model=&quot;form.selected&quot; name=&quot;fav_fruits&quot; value=&quot;orange&quot;&gt;Orange&lt;/d-checkbox&gt;</span>
                    <span>&lt;d-checkbox v-model=&quot;form.selected&quot; name=&quot;fav_fruits&quot; value=&quot;lemon&quot;&gt;Lemon&lt;/d-checkbox&gt;</span>
                    <span>&lt;d-checkbox v-model=&quot;form.selected&quot; name=&quot;fav_fruits&quot; value=&quot;kiwi&quot;&gt;Kiwi&lt;/d-checkbox&gt;</span>
                    <span>&lt;p&gt;&lt;label&gt;Data:&lt;/label&gt; {{form.selected}}&lt;/p&gt;</span>
                <span>&lt;/div&gt;</span>
                <span>&lt;div class=&quot;col-xs-12 col-md-4&quot;&gt;</span>
                    <span>&lt;div class=&quot;custom-control custom-toggle custom-toggle-sm mb-1&quot;&gt;</span>
                    <span>&lt;input type=&quot;checkbox&quot; id=&quot;customToggle1&quot; name=&quot;customToggle1&quot; class=&quot;custom-control-input&quot;&gt;</span>
                    <span>&lt;label class=&quot;custom-control-label&quot; for=&quot;customToggle1&quot;&gt;Default&lt;/label&gt;</span>
                <span>&lt;/div&gt;</span>
                <span>&lt;div class=&quot;custom-control custom-toggle custom-toggle-sm mb-1&quot;&gt;</span>
                    <span>&lt;input type=&quot;checkbox&quot; id=&quot;customToggle2&quot; name=&quot;customToggle2&quot; class=&quot;custom-control-input&quot; checked=&quot;checked&quot;&gt;</span>
                    <span>&lt;label class=&quot;custom-control-label&quot; for=&quot;customToggle2&quot;&gt;Checked&lt;/label&gt;</span>
                <span>&lt;/div&gt;</span>
                <span>&lt;div class=&quot;custom-control custom-toggle custom-toggle-sm mb-1&quot;&gt;</span>
                    <span>&lt;input type=&quot;checkbox&quot; id=&quot;customToggle3&quot; name=&quot;customToggle3&quot; class=&quot;custom-control-input&quot; disabled=&quot;disabled&quot;&gt;</span>
                    <span>&lt;label class=&quot;custom-control-label&quot; for=&quot;customToggle3&quot;&gt;Disabled&lt;/label&gt;</span>
                <span>&lt;/div&gt;</span>
                    <span>&lt;div class=&quot;custom-control custom-toggle custom-toggle-sm mb-1&quot;&gt;</span>
                        <span>&lt;input type=&quot;checkbox&quot; id=&quot;customToggle4&quot; name=&quot;customToggle4&quot; class=&quot;custom-control-input&quot; checked=&quot;checked&quot; disabled=&quot;disabled&quot;&gt;</span>
                        <span>&lt;label class=&quot;custom-control-label&quot; for=&quot;customToggle4&quot;&gt;Disabled Checked&lt;/label&gt;</span>
                    <span>&lt;/div&gt;</span>
                <span>&lt;/div&gt;</span>
                <span>&lt;div class=&quot;col-xs-12 col-md-12&quot;&gt;</span>
                    <span>&lt;div class=&quot;form-group&quot;&gt;</span>
                        <span>&lt;label&gt;Textarea&lt;/label&gt;</span>
                        <span>&lt;d-form-textarea v-model=&quot;text&quot; placeholder=&quot;Enter something&quot; :rows=&quot;3&quot; :max-rows=&quot;6&quot;&gt;&lt;/d-form-textarea&gt;</span>
                    <span>&lt;/div&gt;</span>
                <span>&lt;/div&gt;</span>
                <span>&lt;div class=&quot;col-xs-12 col-md-12&quot;&gt;</span>
                    <span>&lt;div class=&quot;form-group&quot;&gt;</span>
                        <span>&lt;d-form-checkbox v-model=&quot;form.tos&quot; value=&quot;tos_agree&quot; unchecked-value=&quot;tos_do_not_agree&quot;&gt;I agree with the &lt;a href=&quot;#&quot;&gt;Terms of Service&lt;/a&gt;&lt;/d-form-checkbox&gt;</span>
                    <span>&lt;/div&gt;</span>
                <span>&lt;/div&gt;</span>
            <span>&lt;/div&gt;</span>
        <span>&lt;d-button type=&quot;submit&quot;&gt;Create Account&lt;/d-button&gt;</span>
    <span>&lt;/d-form&gt;</span>
    </code>
</pre>
            </div>
        </div>
    </div>

    <div class="page-header row no-gutters py-4">
      <div class="col-12 col-sm-4 text-left text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">Overview</span>
        <h3 class="page-title">Using Icons</h3>
    </div>
</div>
<div class="colum-btm-space card">
    <div class="card-body">
        <div class="section-blocks">
           <d-form @submit="handleOnSubmit">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="form-group input-icons">
                        <div class="left-icon">
                            <span><i class="icon-user"></i></span>
                            <d-input id="enter_user" class="mb-2 mr-sm-2 mb-sm-0" v-model="form.name" placeholder="Enter Username" required />
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="form-group input-icons">
                        <div class="left-icon right-icon">
                            <span><i class="icon-lock"></i></span>
                            <d-input id="enter_password" class="mb-2 mr-sm-2 mb-sm-0" v-model="form.password" placeholder="Enter Your Password" type="password" required />
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="form-group input-icons">
                        <div class="left-icon right-seprator">
                            <span><i class="icon-user"></i></span>
                            <d-input id="enter_user2" class="mb-2 mr-sm-2 mb-sm-0" v-model="form.name" placeholder="Enter Username" required />
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="form-group input-icons">
                        <div class="left-icon right-icon left-seprator">
                            <span><i class="icon-lock"></i></span>
                            <d-input id="enter_password2" class="mb-2 mr-sm-2 mb-sm-0" v-model="form.password" placeholder="Enter password" type="password" required />
                        </div>
                    </div>
                </div>
            </div>
            <p class="view-source margin-top-0px" @click="handleClick^= true"><i class="icon-eye"></i> View Source</p>
        </d-form>
<pre v-if="handleClick">
<code>
    <span>&lt;d-form @submit="handleOnSubmit"&gt;</span>
        <span>&lt;div class="row"&gt;</span>
            <span>&lt;div class="col-xs-12 col-md-6"&gt;</span>
                <span>&lt;div class="form-group input-icons"&gt;</span>
                    <span>&lt;div class="left-icon"&gt;</span>
                    <span>&lt;span&gt;&lt;i class="icon-user"&gt;&lt;/i&gt;&lt;/span&gt;</span>
                    <span>&lt;d-input id="" class="mb-2 mr-sm-2 mb-sm-0" v-model="form.name" placeholder="Enter Username" required /&gt;</span>
                    <span>&lt;/div&gt;</span>
                <span>&lt;/div&gt;</span>
            <span>&lt;/div&gt;</span>
            <span>&lt;div class="col-xs-12 col-md-6"&gt;</span>
                <span>&lt;div class="form-group input-icons"&gt;</span>
                    <span>&lt;div class="left-icon right-icon"&gt;</span>
                    <span>&lt;span&gt;&lt;i class="icon-lock">&lt;/i&gt;&lt;/span&gt;</span>
                    <span>&lt;d-input id="" class="mb-2 mr-sm-2 mb-sm-0" v-model="form.password" placeholder="Enter Your Password" type="password" required /&gt;</span>
                    <span>&lt;/div&gt;</span>
                <span>&lt;/div&gt;</span>
            <span>&lt;/div&gt;</span>
            <span>&lt;div class="col-xs-12 col-md-6"&gt;</span>
                <span>&lt;div class="form-group input-icons"&gt;</span>
                    <span>&lt;div class="left-icon right-seprator"&gt;</span>
                    <span>&lt;span>&lt;i class="icon-user"&gt;&lt;/i&gt;&lt;/span&gt;</span>
                    <span>&lt;d-input id="" class="mb-2 mr-sm-2 mb-sm-0" v-model="form.name" placeholder="Enter Username" required /&gt;</span>
                    <span>&lt;/div&gt;</span>
                <span>&lt;/div&gt;</span>
            <span>&lt;/div&gt;</span>
            <span>&lt;div class="col-xs-12 col-md-6"&gt;</span>
                <span>&lt;div class="form-group input-icons"&gt;</span>
                    <span>&lt;div class="left-icon right-icon left-seprator"&gt;</span>
                    <span>&lt;span&gt;&lt;i class="icon-lock"&gt;&lt;/i&gt;&lt;/span&gt;</span>
                    <span>&lt;d-input id="" class="mb-2 mr-sm-2 mb-sm-0" v-model="form.password" placeholder="Enter password" type="password" required /&gt;</span>
                    <span>&lt;/div&gt;</span>
                <span>&lt;/div&gt;</span>
            <span>&lt;/div&gt;</span>
        <span>&lt;/div&gt;</span>
    <span>&lt;/d-form&gt;</span>
</code>
</pre>
    </div>
</div>
</div>




<div class="page-header row no-gutters py-4">
  <div class="col-12 col-sm-4 text-left text-sm-left mb-0">
    <span class="text-uppercase page-subtitle">Overview</span>
    <h3 class="page-title">Form with Validation</h3>
</div>
</div>

<div class="colum-btm-space card">
    <div class="card-body">

        <div class="section-blocks">
            <!-- full width form -->


            <d-form @submit="handleOnSubmit" validated>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label class="" for="f2_Email">Full Name</label>
                            <d-input id="" class="mb-2 mr-sm-2 mb-sm-0" v-model="form.fullname" placeholder="Enter full name" required />
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label class="" for="f2_EmailAddress">Email Address</label>
                            <d-input id="f2_EmailAddress" class="mb-2 mr-sm-2 mb-sm-0" v-model="form.email" placeholder="Enter email" required />
                        </div>
                    </div>
                </div>
                <d-button type="submit">Create Account</d-button>
            </d-form>

            <p class="view-source" @click="validationClick^= true"><i class="icon-eye"></i> View Source</p>

<pre v-if="validationClick">
<code>
    <span> &lt;d-form @submit="handleOnSubmit"&gt;</span>
        <span> &lt;div class="form-group"&gt;</span>
            <span> &lt;label class="" for="f2_Email">Full Name&lt;/label&gt;</span>
            <span> &lt;d-input id="" class="mb-2 mr-sm-2 mb-sm-0" v-model="form.fullname" placeholder="Enter full name" required /&gt;</span>
        <span>&lt;/div&gt;</span>
        <span> &lt;div class="form-group"&gt;</span>
            <span> &lt;label class="" for="f2_EmailAddress">Email Address&lt;/label&gt;</span>
                <span> &lt;d-input id="f2_EmailAddress" class="mb-2 mr-sm-2 mb-sm-0" v-model="form.email" placeholder="Enter email" required /&gt;</span>
            <span>&lt;/div&gt;</span>
            <span> &lt;div class="form-group"&gt;</span>
                <span> &lt;label for="f2_PasswordInput" class=""&gt;Password&lt;/label&gt;</span>
                <span> &lt;d-form-input id="f2_PasswordInput" type="password" v-model="form.password" required placeholder="Password"&gt;&lt;/d-form-input&gt;</span>
            <span>&lt;/div&gt;</span>
            <span> &lt;div class="form-group"&gt;</span>
                <span> &lt;d-form-checkbox v-model="form.tos" value="tos_agree" unchecked-value="tos_do_not_agree"gt;I agree with the &lt;a href="#"gt;Terms of Service&lt;/a &gt; &lt;/d-form-checkbox &gt; </span>
            <span>&lt;/div&gt;</span>
            <span> &lt;d-button type="submit">Create Account&lt;/d-button&gt;</span>
            <span>&lt;/d-form&gt;</span>
                &lt;script&gt;
                export default {
                data () {
                return {
                form: {
                fullname: '',
                email: 'example@example.com',
                password: '',
                password2: '',
                tos: 'tos_agree'
                }
            }
        },
        methods: {
        handleOnSubmit (e) {
        e.preventDefault();
        alert(JSON.stringify(this.form));
    }
}
}
&lt;/script&gt;
</code>
</pre>

</div>
</div>
</div>




</div>
</div>
</template>
<script>
    import VueTimepicker from 'vue2-timepicker';
    import Selectize from 'vue2-selectize';

    export default {
        components:{
            VueTimepicker,
            Selectize,
        },
        data () {

            return {
                selectedvalue: 1,
                isShowing:false,
                handleClick:false,
                validationClick:false,
                selected_profession: 'businessman',
                settings: {},
                form: {
                    email: 'example@example.com',
                    name: '',
                    password: '',
                    fullname: '',
                    password2: '',
                    radiobtn: 'orange',
                    checkbox: '',
                    date:'',
                    tos: 'tos_agree',
                    selected: ['orange'],
                    options: [
                    { value: null, text: 'Please select an option' },
                    { value: 'first', text: 'This is the first option' },
                    { value: 'second', text: 'This is the second option' },
                    { value: 'disabled', text: 'This one is disabled', disabled: true }
                    ]
                }
            }
        },
        methods: {
            handleOnSubmit (e) {
              e.preventDefault();
              alert(JSON.stringify(this.form));
          },

          handleClick() {
            this.isShowing = true
        },
        validationClick(){
            this.isShowing = true
        },
      }
  }
</script>
