<template>
	    <div class="panel" id="rating-section">
	        <div class="panel-inner p-b-0">
	            <div class="page-header row no-gutters py-4">
	              <div class="col-12 col-sm-4 text-left text-sm-left mb-0">
	                <span class="text-uppercase page-subtitle">Overview</span>
	                <h3 class="page-title">Rating</h3>
	              </div>
	            </div>
	            <div class="colum-btm-space card">
		            <div class="card-body">
						<star-rating :rating="4" :star-size="60"></star-rating>
						<star-rating :rating="3.5" :star-size="40" :increment="0.5"></star-rating>
						<star-rating :rating="2.80" :star-size="30" :increment="0.01" :fixed-points="2"></star-rating>
						<star-rating :rating="2" :star-size="20"></star-rating>

                         <p class="view-source" @click="isShowing ^= true"><i class="icon-eye"></i> View Source</p>
		        	</div>
	        	</div>
	        	 
<pre v-show="isShowing">
<code>
    &lt;star-rating :rating=&quot;4&quot; :star-size=&quot;60&quot;&gt;&lt;/star-rating&gt;<br />
    &lt;star-rating :rating=&quot;3.5&quot; :star-size=&quot;40&quot; :increment=&quot;0.5&quot;&gt;&lt;/star-rating&gt;<br />
    &lt;star-rating :rating=&quot;2.80&quot; :star-size=&quot;30&quot; :increment=&quot;0.01&quot; :fixed-points=&quot;2&quot;&gt;&lt;/star-rating&gt;<br />
    &lt;star-rating :rating=&quot;2&quot; :star-size=&quot;20&quot;&gt;&lt;/star-rating&gt;

    &lt;script&gt;<br />
    import StarRating from 'vue-star-rating';<br />
    export default {<br />
        components:{<br />
            StarRating<br />
        },<br />
            
    }<br />
    &lt;/script&gt;
</code>
</pre>
    </div>
        </div>
</template>


<script>
    import StarRating from 'vue-star-rating';
    export default {
        components:{
            StarRating
        },
    data () {
        return {
            isShowing:false,
    	}
	},
methods: {

}
}
</script>
