<template>
    <!-- <div class="panel" id="tables-section">
        <div class="panel-inner">
            <h1 class="main-heading">Table</h1>
            <hr />
            <div class="section-blocks">
                <h3>Table With Border</h3>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Full Name</th>
                            <th>Email Address</th>
                            <th>Age</th>
                            <th>Gender</th>
                            <th>Status</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="list in listing">
                            <td width="50"><span class="avatar-img no-radius"><d-img fluid thumbnail :src="dummyImage" /></span></td>
                            <td>{{list.name}}</td>
                            <td>{{list.email}}</td>
                            <td>{{list.age}}</td>
                            <td>{{list.gender}}</td>
                            <td>{{list.status}}</td>
                            <td class="text-center">
                                <div class="action-icons">
                                    <i class="icon-eye" v-d-tooltip="'View Detail'"></i>
                                    <i class="icon-cog2" v-d-tooltip="'Change Status'"></i>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

<pre>
<code>
    <span>&lt;table class="table table-bordered table-striped"&gt;</span>
        <span>&lt;thead&gt;</span>
            <span>&lt;tr&gt;</span>
                <span>&lt;th&gt;&lt;/th&gt;</span>
                <span>&lt;th&gt;Full Name&lt;/th&gt;</span>
                <span>&lt;th&gt;Email Address&lt;/th&gt;</span>
                <span>&lt;th&gt;Age&lt;/th&gt;</span>
                <span>&lt;th&gt;Gender&lt;/th&gt;</span>
                <span>&lt;th&gt;Status&lt;/th&gt;</span>
                <span>&lt;th&gt;Action&lt;/th&gt;</span>
            <span>&lt;/tr&gt;</span>
        <span>&lt;/thead&gt;</span>
        <span>&lt;tbody&gt;</span>
            <span>&lt;tr&gt;</span>
                <span>&lt;td&gt;&lt;d-img fluid thumbnail src="images/dummy/image-placeholder.jpg" /&gt;&lt;/td&gt;</span>
                <span>&lt;td&gt;&lbrace;<span style="display: none">&sdot;</span>&lbrace;list.name&rbrace;&rbrace;&lt;/td&gt;</span>
                <span>&lt;td&gt;&lbrace;<span style="display: none">&sdot;</span>&lbrace;list.email&rbrace;&rbrace;&lt;/td&gt;</span>
                <span>&lt;td&gt;&lbrace;<span style="display: none">&sdot;</span>&lbrace;list.age&rbrace;&rbrace;&lt;/td&gt;</span>
                <span>&lt;td&gt;&lbrace;<span style="display: none">&sdot;</span>&lbrace;list.gender&rbrace;&rbrace;&lt;/td&gt;</span>
                <span>&lt;td&gt;&lbrace;<span style="display: none">&sdot;</span>&lbrace;list.status&rbrace;&rbrace;&lt;/td&gt;</span>
                <span>&lt;td class="text-center"&gt;</span>
                    <span>&lt;div class="action-icons"&gt;</span>
                        <span>&lt;i class="icon-eye" v-d-tooltip="'View Detail'"&gt;&lt;/i&gt;</span>
                        <span>&lt;i class="icon-cog2" v-d-tooltip="'Change Status'"&gt;&lt;/i&gt;</span>
                    <span>&lt;/div&gt;</span>
                <span>&lt;/td&gt;</span>
            <span>&lt;/tr&gt;</span>
        <span>&lt;/tbody&gt;</span>
    <span>&lt;table&gt;</span>

    &lt;script&gt;
    export default &lbrace;
        data&lpar;&rpar; &lbrace;
            return &lbrace;

                listing: &lsqb;&lbrace;
                        name: 'Mrs. Orlando Kris'&lsquor;
                        email: 'kris@yahoo.com'&lsquor;
                        age: '25'&lsquor;
                        gender: 'Female'&lsquor;
                        status: 'Inactive'&lsquor;
                    &rbrace;&lsquor;
                    &lbrace;
                        name: 'Anais Crist'&lsquor;
                        email: 'anais@hotmail.com'&lsquor;
                        age: '40'&lsquor;
                        gender: 'Male'&lsquor;
                        status: 'Active'&lsquor;
                    &rbrace;&lsquor;
                    &lbrace;
                        name: 'Levi Boyer'&lsquor;
                        email: 'boyer@yahoo.com'&lsquor;
                        age: '50'&lsquor;
                        gender: 'Male'&lsquor;
                        status: 'Inactive'&lsquor;
                    &rbrace;&lsquor;
                &rsqb;&lsquor;
            &rbrace;
        &rbrace;
    &rbrace;
    &lt;/script&gt;
        </code>
    </pre>
</div>
<div class="section-blocks">
    <h3>Table Striped</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email Address</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="list in listing">
            <td>{{list.name}}</td>
            <td>{{list.email}}</td>
            <td>{{list.age}}</td>
            <td>{{list.gender}}</td>
            <td>{{list.status}}</td>
        </tr>
    </tbody>
</table>
<pre>
    <code>
        <span>&lt;table class="table table-bordered table-striped"&gt;</span>
            <span>&lt;thead&gt;</span>
                <span>&lt;tr&gt;</span>
                    <span>&lt;th&gt;Full Name&lt;/th&gt;</span>
                    <span>&lt;th&gt;Email Address&lt;/th&gt;</span>
                    <span>&lt;th&gt;Age&lt;/th&gt;</span>
                    <span>&lt;th&gt;Gender&lt;/th&gt;</span>
                    <span>&lt;th&gt;Status&lt;/th&gt;</span>
                <span>&lt;/tr&gt;</span>
            <span>&lt;/thead&gt;</span>
            <span>&lt;tbody&gt;</span>
                <span>&lt;tr&gt;</span>
                    <span>&lt;td&gt;&lbrace;<span style="display: none">&sdot;</span>&lbrace;list.name&rbrace;&rbrace;&lt;/td&gt;</span>
                    <span>&lt;td&gt;&lbrace;<span style="display: none">&sdot;</span>&lbrace;list.email&rbrace;&rbrace;&lt;/td&gt;</span>
                    <span>&lt;td&gt;&lbrace;<span style="display: none">&sdot;</span>&lbrace;list.age&rbrace;&rbrace;&lt;/td&gt;</span>
                    <span>&lt;td&gt;&lbrace;<span style="display: none">&sdot;</span>&lbrace;list.gender&rbrace;&rbrace;&lt;/td&gt;</span>
                    <span>&lt;td&gt;&lbrace;<span style="display: none">&sdot;</span>&lbrace;list.status&rbrace;&rbrace;&lt;/td&gt;</span>
                <span>&lt;/tr&gt;</span>
            <span>&lt;/tbody&gt;</span>
        <span>&lt;table&gt;</span>
    </code>
</pre>
</div>
<div class="section-blocks">
<h3>Table Without Background</h3>
<table class="table">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email Address</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="list in listing">
            <td>{{list.name}}</td>
            <td>{{list.email}}</td>
            <td>{{list.age}}</td>
            <td>{{list.gender}}</td>
            <td>{{list.status}}</td>
        </tr>
    </tbody>
    </table>
<pre>
    <code>
        <span>&lt;table class="table"&gt;</span>
            <span>&lt;thead&gt;</span>
                <span>&lt;tr&gt;</span>
                    <span>&lt;th&gt;Full Name&lt;/th&gt;</span>
                    <span>&lt;th&gt;Email Address&lt;/th&gt;</span>
                    <span>&lt;th&gt;Age&lt;/th&gt;</span>
                    <span>&lt;th&gt;Gender&lt;/th&gt;</span>
                    <span>&lt;th&gt;Status&lt;/th&gt;</span>
                <span>&lt;/tr&gt;</span>
            <span>&lt;/thead&gt;</span>
            <span>&lt;tbody&gt;</span>
                <span>&lt;tr&gt;</span>
                    <span>&lt;td&gt;&lbrace;<span style="display: none">&sdot;</span>&lbrace;list.name&rbrace;&rbrace;&lt;/td&gt;</span>
                    <span>&lt;td&gt;&lbrace;<span style="display: none">&sdot;</span>&lbrace;list.email&rbrace;&rbrace;&lt;/td&gt;</span>
                    <span>&lt;td&gt;&lbrace;<span style="display: none">&sdot;</span>&lbrace;list.age&rbrace;&rbrace;&lt;/td&gt;</span>
                    <span>&lt;td&gt;&lbrace;<span style="display: none">&sdot;</span>&lbrace;list.gender&rbrace;&rbrace;&lt;/td&gt;</span>
                    <span>&lt;td&gt;&lbrace;<span style="display: none">&sdot;</span>&lbrace;list.status&rbrace;&rbrace;&lt;/td&gt;</span>
                <span>&lt;/tr&gt;</span>
            <span>&lt;/tbody&gt;</span>
        <span>&lt;table&gt;</span>
    </code>
</pre>
</div>
<div class="section-blocks">
<h3>Table on Hover</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email Address</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="list in listing">
            <td>{{list.name}}</td>
            <td>{{list.email}}</td>
            <td>{{list.age}}</td>
            <td>{{list.gender}}</td>
            <td>{{list.status}}</td>
        </tr>
    </tbody>
</table>

<pre>
    <code>
        <span>&lt;table class="table table-hover"&gt;</span>
            <span>&lt;thead&gt;</span>
                <span>&lt;tr&gt;</span>
                    <span>&lt;th&gt;Full Name&lt;/th&gt;</span>
                    <span>&lt;th&gt;Email Address&lt;/th&gt;</span>
                    <span>&lt;th&gt;Age&lt;/th&gt;</span>
                    <span>&lt;th&gt;Gender&lt;/th&gt;</span>
                    <span>&lt;th&gt;Status&lt;/th&gt;</span>
                <span>&lt;/tr&gt;</span>
            <span>&lt;/thead&gt;</span>
            <span>&lt;tbody&gt;</span>
                <span>&lt;tr&gt;</span>
                    <span>&lt;td&gt;&lbrace;<span style="display: none">&sdot;</span>&lbrace;list.name&rbrace;&rbrace;&lt;/td&gt;</span>
                    <span>&lt;td&gt;&lbrace;<span style="display: none">&sdot;</span>&lbrace;list.email&rbrace;&rbrace;&lt;/td&gt;</span>
                    <span>&lt;td&gt;&lbrace;<span style="display: none">&sdot;</span>&lbrace;list.age&rbrace;&rbrace;&lt;/td&gt;</span>
                    <span>&lt;td&gt;&lbrace;<span style="display: none">&sdot;</span>&lbrace;list.gender&rbrace;&rbrace;&lt;/td&gt;</span>
                    <span>&lt;td&gt;&lbrace;<span style="display: none">&sdot;</span>&lbrace;list.status&rbrace;&rbrace;&lt;/td&gt;</span>
                <span>&lt;/tr&gt;</span>
            <span>&lt;/tbody&gt;</span>
        <span>&lt;table&gt;</span>
    </code>
</pre>
</div>
        </div>
    </div> -->
    <div class="panel" id="tables-section">
        <div class="panel-inner p-b-0">
            <div class="main-content-container">
                <!-- Page Header -->
                <div class="page-header row no-gutters py-4">
                  <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                    <span class="text-uppercase page-subtitle">Overview</span>
                    <h3 class="page-title">Data Tables</h3>
                </div>
            </div>
            <!-- End Page Header -->
            <!-- Default Light Table -->
            <div class="row">
              <div class="col">
                <div class="card card-small mb-4">
                  <div class="card-header border-bottom">
                    <h6 class="m-0">Active Users</h6>
                </div>
                <div class="card-body p-0 pb-3 text-center">
                    <table class="table mb-0">
                      <thead class="bg-light">
                        <tr>
                          <th scope="col" class="border-0">#</th>
                          <th scope="col" class="border-0">First Name</th>
                          <th scope="col" class="border-0">Last Name</th>
                          <th scope="col" class="border-0">Country</th>
                          <th scope="col" class="border-0">City</th>
                          <th scope="col" class="border-0">Phone</th>
                      </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>Ali</td>
                      <td>Kerry</td>
                      <td>Russian Federation</td>
                      <td>Gdańsk</td>
                      <td>107-0339</td>
                  </tr>
                  <tr>
                      <td>2</td>
                      <td>Clark</td>
                      <td>Angela</td>
                      <td>Estonia</td>
                      <td>Borghetto di Vara</td>
                      <td>1-660-850-1647</td>
                  </tr>
                  <tr>
                      <td>3</td>
                      <td>Jerry</td>
                      <td>Nathan</td>
                      <td>Cyprus</td>
                      <td>Braunau am Inn</td>
                      <td>214-4225</td>
                  </tr>
                  <tr>
                      <td>4</td>
                      <td>Colt</td>
                      <td>Angela</td>
                      <td>Liberia</td>
                      <td>Bad Hersfeld</td>
                      <td>1-848-473-7416</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
</div>
<!-- End Default Light Table -->
<!-- Default Dark Table -->
<div class="row">
  <div class="col">
    <div class="card card-small overflow-hidden mb-4">
      <div class="card-header bg-dark">
        <h6 class="m-0 text-white">Inactive Users</h6>
    </div>
    <div class="card-body p-0 pb-3 bg-dark text-center">
        <table class="table table-dark mb-0">
          <thead class="thead-dark">
            <tr>
              <th scope="col" class="border-bottom-0">#</th>
              <th scope="col" class="border-bottom-0">First Name</th>
              <th scope="col" class="border-bottom-0">Last Name</th>
              <th scope="col" class="border-bottom-0">Country</th>
              <th scope="col" class="border-bottom-0">City</th>
              <th scope="col" class="border-bottom-0">Phone</th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Graham</td>
          <td>Brent</td>
          <td>Benin</td>
          <td>Ripabottoni</td>
          <td>1-512-760-9094</td>
      </tr>
      <tr>
          <td>2</td>
          <td>Clark</td>
          <td>Angela</td>
          <td>Estonia</td>
          <td>Borghetto di Vara</td>
          <td>1-660-850-1647</td>
      </tr>
      <tr>
          <td>3</td>
          <td>Wylie</td>
          <td>Joseph</td>
          <td>Korea, North</td>
          <td>Guelph</td>
          <td>325-4351</td>
      </tr>
      <tr>
          <td>4</td>
          <td>Garth</td>
          <td>Clementine</td>
          <td>Indonesia</td>
          <td>Narcao</td>
          <td>722-8264</td>
      </tr>
  </tbody>
</table>
</div>
</div>
</div>
</div>
<!-- End Default Dark Table -->
</div>
<div class="main-content-container">

    <!-- End Page Header -->
    <!-- Default Light Table -->
    <div class="row">
      <div class="col">
        <div class="card card-small mb-4">
          <div class="card-header border-bottom">
            <h6 class="m-0">Active Users</h6>
        </div>
        <div class="card-body p-0 pb-3">
            <table class="table mb-0">
              <thead class="bg-light">
                <tr>
                  <th scope="col" class="border-0" width="60px"></th>
                  <th scope="col" class="border-0">First Name</th>
                  <th scope="col" class="border-0">Last Name</th>
                  <th scope="col" class="border-0">Country</th>
                  <th scope="col" class="border-0">City</th>
                  <th scope="col" class="border-0">Phone</th>
                  <th scope="col" class="border-0 text-center">Action</th>
              </tr>
          </thead>
          <tbody>
            <tr>
              <td><div class="profile-pic"><d-card-img src="../../images/dummy/lev-boyer.jpg"/></div></td>
              <td>Ali</td>
              <td>Kerry</td>
              <td>Russian Federation</td>
              <td>Gdańsk</td>
              <td>107-0339</td>
              <td class="text-center">
                <div class="action-icons">
                    <i class="icon-eye" v-d-tooltip="'View Detail'"></i>
                    <i class="icon-cog2" v-d-tooltip="'Change Status'"></i>
                </div>
            </td>
        </tr>
        <tr>
          <td><div class="profile-pic"><d-card-img src="../../images/dummy/orlando-kris.jpg"/></div></td>
          <td>Ms. Orlando Kris</td>
          <td>Angela</td>
          <td>Estonia</td>
          <td>Borghetto di Vara</td>
          <td>1-660-850-1647</td>
          <td class="text-center">
            <div class="action-icons">
                <i class="icon-eye" v-d-tooltip="'View Detail'"></i>
                <i class="icon-cog2" v-d-tooltip="'Change Status'"></i>
            </div>
        </td>
    </tr>
    <tr>
      <td><div class="profile-pic"><d-card-img src="../../images/dummy/anais-crist.jpg"/></div></td>
      <td>Jerry</td>
      <td>Nathan</td>
      <td>Cyprus</td>
      <td>Braunau am Inn</td>
      <td>214-4225</td>
      <td class="text-center">
        <div class="action-icons">
            <i class="icon-eye" v-d-tooltip="'View Detail'"></i>
            <i class="icon-cog2" v-d-tooltip="'Change Status'"></i>
        </div>
    </td>
</tr>
<tr>
  <td><div class="profile-pic"><d-card-img src="../../images/dummy/lev-boyer.jpg"/></div></td>
  <td>Colt</td>
  <td>Angela</td>
  <td>Liberia</td>
  <td>Bad Hersfeld</td>
  <td>1-848-473-7416</td>
  <td class="text-center">
    <div class="action-icons">
        <i class="icon-eye" v-d-tooltip="'View Detail'"></i>
        <i class="icon-cog2" v-d-tooltip="'Change Status'"></i>
    </div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
<!-- End Default Light Table -->
<!-- Default Dark Table -->
<div class="row">
  <div class="col">
    <div class="card card-small overflow-hidden mb-4">
      <div class="card-header bg-dark">
        <h6 class="m-0 text-white">Inactive Users</h6>
    </div>
    <div class="card-body p-0 pb-3 bg-dark">
        <table class="table table-dark mb-0">
          <thead class="thead-dark">
           <tr>
              <th scope="col" class="border-0" width="60px"></th>
              <th scope="col" class="border-0">First Name</th>
              <th scope="col" class="border-0">Last Name</th>
              <th scope="col" class="border-0">Country</th>
              <th scope="col" class="border-0">City</th>
              <th scope="col" class="border-0">Phone</th>
              <th scope="col" class="border-0 text-center">Action</th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <td><div class="profile-pic"><d-card-img src="../../images/dummy/lev-boyer.jpg"/></div></td>
          <td>Ali</td>
          <td>Kerry</td>
          <td>Russian Federation</td>
          <td>Gdańsk</td>
          <td>107-0339</td>
          <td class="text-center">
            <div class="action-icons">
                <i class="icon-eye" v-d-tooltip="'View Detail'"></i>
                <i class="icon-cog2" v-d-tooltip="'Change Status'"></i>
            </div>
        </td>
    </tr>
    <tr>
      <td><div class="profile-pic"><d-card-img src="../../images/dummy/orlando-kris.jpg"/></div></td>
      <td>Ms. Orlando Kris</td>
      <td>Angela</td>
      <td>Estonia</td>
      <td>Borghetto di Vara</td>
      <td>1-660-850-1647</td>
      <td class="text-center">
        <div class="action-icons">
            <i class="icon-eye" v-d-tooltip="'View Detail'"></i>
            <i class="icon-cog2" v-d-tooltip="'Change Status'"></i>
        </div>
    </td>
</tr>
<tr>
  <td><div class="profile-pic"><d-card-img src="../../images/dummy/anais-crist.jpg"/></div></td>
  <td>Jerry</td>
  <td>Nathan</td>
  <td>Cyprus</td>
  <td>Braunau am Inn</td>
  <td>214-4225</td>
  <td class="text-center">
    <div class="action-icons">
        <i class="icon-eye" v-d-tooltip="'View Detail'"></i>
        <i class="icon-cog2" v-d-tooltip="'Change Status'"></i>
    </div>
</td>
</tr>
<tr>
  <td><div class="profile-pic"><d-card-img src="../../images/dummy/lev-boyer.jpg"/></div></td>
  <td>Colt</td>
  <td>Angela</td>
  <td>Liberia</td>
  <td>Bad Hersfeld</td>
  <td>1-848-473-7416</td>
  <td class="text-center">
    <div class="action-icons">
        <i class="icon-eye" v-d-tooltip="'View Detail'"></i>
        <i class="icon-cog2" v-d-tooltip="'Change Status'"></i>
    </div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
<!-- End Default Dark Table -->
</div>
</div>
</div>
</template>
