<template>
    <div class="panel" id="tooltip-section">
        <div class="panel-inner">
           <div class="page-header row no-gutters py-4">
              <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">Overview</span>
                <h3 class="page-title">Tooltip</h3>
              </div>
            </div>
            <d-card>
              <d-card-body>
                <div class="section-blocks">
                    <d-button v-d-tooltip="'👋 Hello there!'">Hover Me</d-button>
                    <br>
                     <p class="view-source margin-bottom-20px" @click="isShowing ^= true"><i class="icon-eye"></i> View Source</p>
<pre v-show="isShowing">
<code>
    <span>&lt;d-button v-d-tooltip="'👋 Hello there!'"&gt;Hover Me&lt;/d-button&gt;</span>
</code>
</pre>
                </div>
                <div class="section-blocks">
                    <h3>Placement</h3>
                    <d-button v-d-tooltip.bottomright="'I\'m down here!'">Hover Me</d-button>
                    <br>
                     <p class="view-source margin-bottom-20px" @click="handleClick^= true"><i class="icon-eye"></i> View Source</p>
<pre v-if="handleClick">
<code>
    <span>&lt;d-button v-d-tooltip.bottomright="'I\'m down here!'"&gt;Hover Me&lt;/d-button&gt;</span>
</code>
</pre>
                </div>
                 <div class="section-blocks">
                    <h3>Triggers</h3>
                    <d-button v-d-tooltip.click="'👋 Hello there!'">Click Me</d-button>
                    <br>
                    <p class="view-source" @click="validationClick^= true"><i class="icon-eye"></i> View Source</p>
<pre v-if="validationClick">
<code>
    <span>&lt;d-button v-d-tooltip.click="'👋 Hello there!'"&gt;Click Me&lt;/d-button&gt;</span>
</code>
</pre>
                </div>
              </d-card-body>
            </d-card>
        </div>
    </div>
</template>

<script>
    export default {
        data () {

            return {
                isShowing:false,
                handleClick:false,
                validationClick:false,
            }
        },
        methods: {
          handleClick() {
            this.isShowing = true
        },
        validationClick(){
            this.isShowing = true
        },
      }
  }
</script>