<template>
    <div>
        <consumer-sidebar @chat-click-event="showChat()" ></consumer-sidebar>
        <top-header></top-header>
        </div>
</template>

<script>
    export default {
      data () {
        return {
            chatPanelVal: 'false',
        }
      },
      methods:{
        showChat() {
            this.chatPanelVal ^= true;
        },
        closeChat() {
            this.chatPanelVal = false
        }
      }
    }
</script>
