<template>
	<div class="panel" id="forms-section">
		<div class="panel-inner p-b-0">

			<div class="page-header row no-gutters py-4">
				<div class="col-12 col-sm-4 text-left text-sm-left mb-0">
					<span class="text-uppercase page-subtitle">Overview</span>
					<h3 class="page-title">{{$route.meta.title}}</h3>
				</div>
			</div>

			<div class="colum-btm-space card">

				<div class="card-body">
					<div class="section-blocks">
						<!-- full width form -->
						<d-form @submit="handleOnSubmit">
							<div class="row">
								<div class="col-xs-12 col-md-3">
									<div class="form-group">
										<label class="" for="f2_Email">English</label>
										<d-input id="name" class="mb-2 mr-sm-2 mb-sm-0" v-model="form.name" placeholder="Enter name" required />
									</div>
								</div>
								<div class="col-xs-12 col-md-3">
									<div class="form-group">
										<label class="" for="f2_Email">French</label>
										<d-input id="name" class="mb-2 mr-sm-2 mb-sm-0" v-model="form.name" placeholder="Enter name" required />
									</div>
								</div>
								<div class="col-xs-12 col-md-3">
									<div class="form-group">
										<label class="" for="f2_Email">Arabic</label>
										<d-input id="name" class="mb-2 mr-sm-2 mb-sm-0" v-model="form.name" placeholder="Enter name" required />
									</div>
								</div>
								<div class="col-xs-12 col-md-3">
								</div>
								<div class="col-xs-12 col-md-3">
									<div class="form-group">
										<label class="" for="f2_Email">Upload File</label>
										<fieldset>
											<div class="custom-file w-100">
												<input type="file" class="custom-file-input" id="customFile">
												<label class="custom-file-label" for="customFile">
													Choose file...
												</label></div></fieldset>
											</div>
										</div>
										<div class="col-xs-12 col-md-3">
											<div class="form-group">
												<label class="" for="f2_Email">Upload File</label>
												<fieldset>
													<div class="custom-file w-100">
														<input type="file" class="custom-file-input" id="customFile">
														<label class="custom-file-label" for="customFile">
															Choose file...
														</label></div></fieldset>
													</div>
												</div>
												<div class="col-xs-12 col-md-3">
													<div class="form-group">
														<label class="" for="f2_Email">Upload File</label>
														<fieldset>
															<div class="custom-file w-100">
																<input type="file" class="custom-file-input" id="customFile">
																<label class="custom-file-label" for="customFile">
																	Choose file...
																</label></div></fieldset>
															</div>
														</div>

														<div class="col-xs-12 col-md-12 clearfix"></div>
													</div>

													<d-button type="submit">Create</d-button>
												</d-form>

											</div>
										</div>
									</div>

								</div>
							</div>
						</template>
						<script>
							import VueTimepicker from 'vue2-timepicker';
							import Selectize from 'vue2-selectize';

							export default {
								components:{
									VueTimepicker,
									Selectize,
								},
								data () {

									return {
										selectedvalue: 1,
										isShowing:false,
										selected_profession: 'businessman',
										settings: {},
										form: {
											email: 'example@example.com',
											name: '',
											password: '',
											fullname: '',
											password2: '',
											radiobtn: 'orange',
											checkbox: '',
											date:'',
											tos: 'tos_agree',
											selected: ['orange'],
											options: [
											{ value: null, text: 'Please select an option' },
											{ value: 'first', text: 'This is the first option' },
											{ value: 'second', text: 'This is the second option' },
											{ value: 'disabled', text: 'This one is disabled', disabled: true }
											]
										}
									}
								},
								mounted (){
								},
								methods: {
									handleOnSubmit (e) {
										e.preventDefault();
										alert(JSON.stringify(this.form));
									},

									handleClick() {
										this.isShowing = true
									},
									validationClick(){
										this.isShowing = true
									},
								}
							}
						</script>