<template>
  <div>



    <admin-sidebar @chat-click-event="showChat()" ></admin-sidebar>
    <top-header></top-header>

    <div class="admin-main-panel">
      
      <router-view></router-view>

    </div>

  </div>
</template>

<script>
  export default {
    data () {
      return {
        chatPanelVal: 'false',
      }
    },
    methods:{
      showChat() {
        this.chatPanelVal ^= true;
      },
      closeChat() {
        this.chatPanelVal = false
      }
    }
  }
</script>
